<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 使用的icon頁，有類別效果不要選其他的 https://boxicons.com/ -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>OnlineQuiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/8acd533af5.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Styles", required: false)

    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }



    </style>




</head>

<body>
    <div>

        <main>
            @RenderBody()
        </main>

    </div>
  


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>