@model List<string>

<form>
    <div class="row">
        <div class="form-group mb-1">
            <div class="control-label mb-2">應徵工作：<span></span></div>
        </div>

        <div class="form-group mb-4">
            <div class="control-label col-lg-4 mb-2">選擇履歷：</div>
            <ul>
                @foreach (var resume in Model)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="resumes" id="resume1" value="" checked>
                        <label class="form-check-label" for="resume1">@resume</label>
                    </div>
                }
            </ul>
        </div>
        <div class="form-group">
            <div class="control-label mb-2">應徵信件內容：</div>
            <textarea class="container-fluid">您好，希望能有參加面試的機會。</textarea>
            <div class="d-flex justify-content-end">
                <div>字數：<span id="word-count">0</span> / <span style="color:#f85a40">2000</span></div>
            </div>
        </div>

    </div>
</form>