@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewBag.Name</h2>
                        <p>來場同儕間的激烈溝通吧！</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li><a asp-area="class_discuss" asp-controller="discuss" asp-action="Index">學生論壇</a></li>
                    <li>@ViewBag.Name</li>
                </ol>
                <a href="/class_discuss/discuss/ArticleEdit" class="btn btn-entrance">
                    新增文章
                </a>
            </div>
        </nav>
    </div>
}
@section Styles {
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
}

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row g-5">
            <!-- 主要區域：佔據寬度 8/12 -->
            <div class="col-lg-8">

        <div class="row gy-4 posts-list" id="article">
            <!-- 共有六張卡片 -->

            <div class="col-xl-4 col-md-6">
                <article>

                    <div class="post-img">
                        <img src="~/assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">Politics</p>

                    <h2 class="title">
                         <a asp-area="class_discuss" asp-controller="discuss" asp-action="ArticleDetails">Dolorum optio tempore voluptas dignissimos</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="~/assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author-list">Maria Doe</p>
                            <p class="post-date">
                                <time datetime="2022-01-01">Jan 1, 2022</time>
                            </p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->

        </div><!-- End blog posts list -->
        </div>

            <!-- 右方側邊欄：佔據寬度 4/12 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- 搜尋框 -->
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="" class="mt-3">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->
                    <!-- 文字列表 -->
                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title">Categories</h3>
                        <ul class="mt-3">
                            <li><a href="#">General <span>(25)</span></a></li>
                            <li><a href="#">Lifestyle <span>(12)</span></a></li>
                            <li><a href="#">Travel <span>(5)</span></a></li>
                            <li><a href="#">Design <span>(22)</span></a></li>
                            <li><a href="#">Creative <span>(8)</span></a></li>
                            <li><a href="#">Educaion <span>(14)</span></a></li>
                        </ul>
                    </div><!-- End sidebar categories-->
                    <!-- 圖文方塊列表 -->
                    <div class="sidebar-item recent-posts">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="mt-3">
                            <!-- 圖文方塊1 -->
                            <div class="post-item mt-3">
                                <img src="~/assets/img/blog/blog-recent-1.jpg" alt="">
                                <div>
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogDetails">Nihil blanditiis at in nihil autem</a></h4>
                                    <time datetime="2020-01-01">Jan 1, 2020</time>
                                </div>
                            </div><!-- End recent post item-->
                            <!-- 圖文方塊2 -->
                            <div class="post-item">
                                <img src="~/assets/img/blog/blog-recent-2.jpg" alt="">
                                <div>
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogDetails">Quidem autem et impedit</a></h4>
                                    <time datetime="2020-01-01">Jan 1, 2020</time>
                                </div>
                            </div><!-- End recent post item-->
                            <!-- 圖文方塊3 -->
                            <div class="post-item">
                                <img src="~/assets/img/blog/blog-recent-3.jpg" alt="">
                                <div>
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogDetails">Id quia et et ut maxime similique occaecati ut</a></h4>
                                    <time datetime="2020-01-01">Jan 1, 2020</time>
                                </div>
                            </div><!-- End recent post item-->
                            <!-- 圖文方塊4 -->
                            <div class="post-item">
                                <img src="~/assets/img/blog/blog-recent-4.jpg" alt="">
                                <div>
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogDetails">Laborum corporis quo dara net para</a></h4>
                                    <time datetime="2020-01-01">Jan 1, 2020</time>
                                </div>
                            </div><!-- End recent post item-->
                            <!-- 圖文方塊5 -->
                            <div class="post-item">
                                <img src="~/assets/img/blog/blog-recent-5.jpg" alt="">
                                <div>
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogDetails">Et dolores corrupti quae illo quod dolor</a></h4>
                                    <time datetime="2020-01-01">Jan 1, 2020</time>
                                </div>
                            </div><!-- End recent post item-->
                        </div>
                    </div><!-- End sidebar recent posts-->
                    <!-- 標籤區 -->
                    <div class="sidebar-item tags">
                        <h3 class="sidebar-title">Tags</h3>
                        <ul class="mt-3">
                            <li><a href="#">App</a></li>
                            <li><a href="#">IT</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Studio</a></li>
                            <li><a href="#">Smart</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                    </div><!-- End sidebar tags-->
                </div><!-- End Blog Sidebar -->
            </div>

        </div>
        <!-- 分頁標籤 -->
        <div class="blog-pagination">
            <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div><!-- End blog pagination -->

    </div>
</section><!-- End Blog Section -->

@section Scripts{
    <script>
        (async () => {
            const subId = @ViewBag.Id;
            const url = `@Url.Content("~/WebApi/artcard")?id=${subId}`;
            console.log(url);
            const request = await fetch(url);
            console.log(request);
            const data = await request.json();
            console.log(data);
            const datalist = data.map(a => `            
            <div class="col-xl-4 col-md-6">
                        <article>

                            <div class="post-img">
                                <img src="images/t課程科目類別/默認圖片.jpg" alt="" class="img-fluid">
                            </div>

                            <p class="post-category">${a.s分類}</p>

                            <h2 class="title">
                           <a href="/class_discuss/discuss/ArticleDetails">${a.s標題}</a>
                            </h2>

                            <div class="d-flex align-items-center">
                  <img src="images/t課程科目類別/默認圖片.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                                <div class="post-meta">
                                    <p class="post-author-list">${a.s作者}</p>
                                    <p class="post-date">
                                        <time datetime="2022-01-01">${a.s日期}</time>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
        `);
            $('#article').html(datalist);
        })();
    </script>
}