@{
    ViewData["Title"] = "學生論壇";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>來場同儕間的激烈溝通吧！</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<style>
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        
        <div class="section-header">
            <h2>科目看板</h2>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 portfolio-container" id="subject">

                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap" data-id="">
                        <a href="" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                            <img src="*" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                        </a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="" title="More Details"></a>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- End Contact Section -->

@section Scripts{
    <script>
        (async () => {
            const url = '@Url.Content("~/WebApi/Subject")'
            const request = await fetch(url);
            const data = await request.json();
            const datalist = data.map(a => `
                    <div class="col-xl-4 col-md-6 portfolio-item">
                      <div class="portfolio-wrap" data-id="${a.看板id}">
                         <a href="/class_discuss/discuss/Articles?subid=${a.看板id}" data-gallery="portfolio-gallery-app" style="display: block; width: 400px; height: 300px;">
                         <img src="/images/t論壇/看板封面/${encodeURIComponent(a.名稱)}.png" class="img-fluid" style="width: 100%; height: 100%; object-fit: contain;">
                            </a>
                    <div class="portfolio-info">
                        <h4>
                        <a href="/class_discuss/discuss/Articles?subid=${a.看板id}" title="More Details">${a.名稱}</a>
                        </h4>
                    </div>
                </div>
            </div>
            `);
            $('#subject').html(datalist);
        })();
    </script>
}