@model Class_system_Backstage_pj.Models.T課程老師科目

@*part1 目前使用者選擇的科目和要加入的授課老師開始*@

 <div class="card text-white bg-info mb-3 w-100">

    <div class="w-100 text-center card-header">
        <h3 class="card-title">目前選擇的是:</h3>

    </div>

    @* 要回傳後端的表單開始*@

    <form asp-area="course_management" method="post" asp-controller="T課程科目" asp-action="CourseTeacher">
        <div class="card-body">

            <div class="row">

                <div>
                    <span class="card-text fs-4">科目:</span>
                    @*popup_addTeacher  js會用到的欄位 chose_coursename 一進入這個partial就固定*@
                    <span class="card-text fs-4" id="chose_coursename">選擇之科目</span>
                    @*popup_addTeacher  js會用到的欄位 chose_courseid  一進入這個partial就固定*@
                    <input class="card-text fs-4" asp-for="科目id" id="chose_courseid" type="hidden" />
                </div>

                <div>
                    <span class="card-text fs-4">老師:</span>
                    @*renderTeachers  js會用到的欄位 chose_techername rowCallback click 事件動態改變*@
                    <span class="card-text fs-4" id="chose_techername">-尚未選擇-</span>
                    @*renderTeachers  js會用到的欄位 chose_coursename rowCallback click 事件動態改變*@
                    <input class="card-text fs-4" id="chose_techer" asp-for="老師id" type="hidden" />
                </div>
            </div>

            <div class="row">
                <input type="hidden" asp-for="狀態" value="1" />
            </div>

        </div>

        <div class="w-100 text-end card-footer">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>

    </form>
    @* 要回傳後端的表單結束*@

</div>
<hr />
@* 目前使用者選擇的科目和要加入的授課老師結束*@


@*part2 目前使用者選擇的科目已經有的的授課老師，只會撈出來而已*@

<div class="card mt-2 p-2" style="background-color:#f3f3fa">
    <h3 class="w-100 text-center card-header">科目授課老師列表</h3>
    <div class="card-body">
        <table class="table  table-hover" id="table_courseteacher" style="width:100%">
            <thead class="table-head">
                <tr>

                    <th>
                        姓名
                    </th>
                    <th>
                        手機
                    </th>
                    <th>
                        信箱
                    </th>
                    <th>
                        刪除老師
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<hr/>
@* 目前使用者選擇的科目已經有的的授課老師結束*@

@*part3 目前全部的老師，只會撈出來而已*@
<div class="card mt-2 p-2" style="background-color:#f3f3fa">
    <h3 class="w-100 text-center card-header">現有老師列表</h3>
    <div class="card-body">
    <table class="table  table-hover" id="table_teacher" style="width:100%">
        <thead class="table-head">
            <tr>
               
                <th>
                    姓名
                </th>
                <th>
                    手機
                </th>
                <th>
                    信箱
                </th>               
                <th>
                    新增老師
                </th>
            </tr>
        </thead>

    </table>
    </div>
</div>
@*目前全部的老師結束*@


