@{
    ViewData["Title"] = "關於我們";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>訓練政策與承諾</h2>
                        <p>
                            『熱忱、專注、服務』，是我們所有員工的心態
                            更是我們所有服務背後的本質與期許。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<!-- ========================================================
       About Us Section
========================================================= -->
<!-- 包含圖片與文字的 兩欄式文章 -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <!-- 標題與描述 -->
        <div class="section-header">
            <h2 class="fw-bold">關於我們</h2>
            <p class="text-success">
                提供人才發展的培訓與顧問服務，滿足產業對的優質人力需求，創造員工、客戶與股東價值
            </p>
        </div>
        <!-- 文章區域 -->
        <div class="row gy-4">
            <!-- 左欄 -->
            <div class="col-lg-6">
                <h3>
                    數位轉型人才化育者
                </h3>
                <img src="~/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                <p>
                    採用Cisco原廠Remote Lab實作教學，絕非一般坊間採用模擬器或多人共用一機可比擬，可奠定良好的網路基礎理論與實做能力，
                </p>
                <p>
                    未來有能力建置中小型企業網路環境。打造價值千萬Cisco CCNP網路設備專屬教室讓您可建置出千人以上的大型企業網路環境遠端連線教室隨時預約開放，實作不受時間空間與器材侷限，下了課在家也能輕鬆練習，享受教室資源
                </p>

            </div>
            <!-- 右欄 -->
            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Come True（客戶的夢想）
                    </p>
                    <!-- 項目標籤列表 -->
                    <ul>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Creative Thinking（創意思維）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Optimistic Engagement（樂觀進取）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Motivational Grow（激勵成長）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Effective Team（效率團隊）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Talent Oriented（人才為本）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Responsibility believable（負責為實)
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Uniqueness Base（獨特為底）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Enthusiasm mind（熱誠為心）
                        </li>
                    </ul>
                    <p>
                        我們亦因此努力和成就，完成其人才培育之階段任務，退出民間
                        已具能量之業務，遂於2021年6月將此人才培訓業務及團隊，移轉 衍生為資展國際股份有限
                        公司，以延續對學員的服務和滿足產業對資通訊及數位轉型人才的殷切需求。
                    </p>
                    <!-- 圖片 + 影片連結 -->
                    <div class="position-relative mt-4">
                        <img src="~/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                        <!-- 酷炫的播放標誌動態 -->
                        <a href="https://www.youtube.com/watch?v=_y0ejTz64CM" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->