@{
    ViewData["Title"] = "首頁";
}
<!-- ========================================================
       Hero Section 注目區
========================================================= -->
@section HeroSection {
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <!-- 標題 -->
                    <h2>
                        歡迎來到
                        <span>Rasengan+</span>
                    </h2>
                    <!-- 描述 -->
                    <p>
                        們提供全方位訓練服務，從資訊軟體、技術、產品、硬體， 到前瞻趨勢、科技與管理等訓練相關業務，
                        以專業與跨域人才培育，縮短產學落差，提升人才素質，
                        以創新與前瞻學習服務，擴大產學合作，增能數位轉型
                    </p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <!-- 圓矩形按鈕連結 -->
                        <a href="#" class="btn-get-started">學員登入</a>
                        <!-- 影片播放按鈕 -->
                        <a href="https://www.youtube.com/watch?v=_y0ejTz64CM" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>觀看影片</span></a>
                    </div>
                </div>
                <!-- 注目區圖片 -->
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="~/assets/img/hero02.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>

        <!-- 圖標方塊 - 連結（4個，注意動畫延遲屬性的設定） -->
        <div class="icon-boxes position-relative">
            <div class="container position-relative">
                <div class="row gy-4 mt-5">
                    <!-- data-aos-delay 動畫延遲屬性，單位：毫秒 -->
                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="bi bi-person-heart"></i>
                            </div>
                            <h4 class="title">
                                <!-- <a href="#" class="stretched-link">圖標方塊 - 留在當頁的寫法</a> -->
                                <a href="#services" class="stretched-link">學員服務</a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="bi bi-postcard-heart"></i>
                            </div>
                            <h4 class="title">
                                <a href="#testimonials" class="stretched-link">課程總覽</a>
                            </h4>
                        </div>
                    </div><!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="bi bi-envelope-paper-fill"></i>
                            </div>
                            <h4 class="title">
                                <a href="#call-to-action" class="stretched-link">最新消息</a>
                            </h4>
                        </div>
                    </div><!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="bi bi-chat-left-dots"></i>
                            </div>
                            <h4 class="title">
                                <a href="#about" class="stretched-link">關於我們</a>
                            </h4>
                        </div>
                    </div><!--End Icon Box -->
                </div>
            </div>
        </div>
    </section>
}
<hr />
<!-- 輪播卡片區（共有5張） -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>推薦熱門課程</h2>
            <p>
                解鎖專業技能的精選課程，助你掌握前沿科技
            </p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <!-- 輪播卡片1 -->
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/testimonials/640px-Python.svg.jpg" class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>Python</h3>
                                    <h4>資料科學、機器學習、網站開發等</h4>
                                    <div class="stars">
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                熱門原因：Python 的語法簡單、易讀，對於初學者來說，是非常友善的入門語言。同時也有強大的社區支援，許多函式庫和框架可以方便開發者使用。
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <!-- 輪播卡片2 -->
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/testimonials/JavaScript-logo.jpg" class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>JavaScript</h3>
                                    <h4>主要應用場景：網頁開發、後端開發等</h4>
                                   
                                    <div class="stars">
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                            熱門原因：作為前端開發的主要語言，JavaScript 在網頁開發中扮演關鍵角色。隨著 Node.js 的出現，JavaScript 也可以用於後端開發。
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <!-- 輪播卡片3 -->
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/testimonials/ISO_C++_Logo.svg.jpg" class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>C++</h3>
                                    <h4>主要應用場景：遊戲開發、系統級程式、實時系統等。</h4>
                                    <div class="stars">
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                熱門原因：C++ 是一種能夠直接操作記憶體的強大語言，適合需要高效能和控制的場景。
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <!-- 輪播卡片4 -->
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/testimonials/Typescript_logo_2020.svg.jpg" class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>TypeScript</h3>
                                    <h4>主要應用場景：大型前端應用開發</h4>
                                    <div class="stars">
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                熱門原因：TypeScript 是 JavaScript 的超集，提供了類型系統和編譯功能，能提高大型專案的開發效率。
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
                <!-- 輪播卡片5 -->
                <div class="swiper-slide">
                    <div class="testimonial-wrap">
                        <div class="testimonial-item">
                            <div class="d-flex align-items-center">
                                <img src="~/assets/img/testimonials/unnamed.jpg" class="testimonial-img flex-shrink-0" alt="">
                                <div>
                                    <h3>C#</h3>
                                    <h4>主要應用場景：Windows 應用開發、遊戲開發（Unity）等。</h4>
                                    <div class="stars">
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                        <i class="bi bi-fire"></i>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                熱門原因：作為 .NET 平台的主要語言，C# 提供了一種面向物件和型別安全的環境。
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <!-- 分頁指示器（小圓點） -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End Testimonials Section -->
<hr/>
<section id="call-to-action" class="call-to-action">
    <div class="section-header p-0">
        <h2>最新消息</h2>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide w-50 p-2 mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/img/news/14791834891985.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/news/16768921461611.png" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/news/新聞.jpg" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section><!-- End Call To Action Section -->
<hr/>
<!-- ========================================================
       About Us Section
========================================================= -->
<!-- 包含圖片與文字的 兩欄式文章 -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <!-- 標題與描述 -->
        <div class="section-header">
            <h2 class="fw-bold">關於我們</h2>
            <p class="text-success">
                提供人才發展的培訓與顧問服務，滿足產業對的優質人力需求，創造員工、客戶與股東價值
            </p>
        </div>
        <!-- 文章區域 -->
        <div class="row gy-4">
            <!-- 左欄 -->
            <div class="col-lg-6">
                <h3>
                    數位轉型人才化育者
                </h3>
                <img src="~/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                <p>
                    採用Cisco原廠Remote Lab實作教學，絕非一般坊間採用模擬器或多人共用一機可比擬，可奠定良好的網路基礎理論與實做能力，
                </p>
                <p>
                    未來有能力建置中小型企業網路環境。打造價值千萬Cisco CCNP網路設備專屬教室讓您可建置出千人以上的大型企業網路環境遠端連線教室隨時預約開放，實作不受時間空間與器材侷限，下了課在家也能輕鬆練習，享受教室資源
                </p>

            </div>
            <!-- 右欄 -->
            <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Come True（客戶的夢想）
                    </p>
                    <!-- 項目標籤列表 -->
                    <ul>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Creative Thinking（創意思維）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Optimistic Engagement（樂觀進取）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Motivational Grow（激勵成長）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Effective Team（效率團隊）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Talent Oriented（人才為本）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Responsibility believable（負責為實)
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Uniqueness Base（獨特為底）
                        </li>
                        <li>
                            <i class="bi bi-check-circle-fill"></i> Enthusiasm mind（熱誠為心）
                        </li>
                    </ul>
                    <p>
                        我們亦因此努力和成就，完成其人才培育之階段任務，退出民間
                        已具能量之業務，遂於2021年6月將此人才培訓業務及團隊，移轉 衍生為資展國際股份有限
                        公司，以延續對學員的服務和滿足產業對資通訊及數位轉型人才的殷切需求。
                    </p>
                    <!-- 圖片 + 影片連結 -->
                    <div class="position-relative mt-4">
                        <img src="~/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                        <!-- 酷炫的播放標誌動態 -->
                        <a href="https://www.youtube.com/watch?v=_y0ejTz64CM" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ========================================================
       Call To Action Section
========================================================= -->

<!-- ========================================================
       Our Services Section
========================================================= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <!-- 標題與描述 -->
        <div class="section-header">
            <h2>學員服務</h2>
            <p>就業養成班學員，於上課前有義務聽說明會或以其他方式了解課程內容及上課方式；並與資展國際簽訂學員參訓契約書，訓練單位保有課程變動及是否接受報名之權利</p>
        </div>

        <!-- 卡片區（3個一列，含有滑鼠指標偵測變化） -->
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-globe2"></i>
                    </div>
                    <h3>學習討論區</h3>
                    <p>讓學生能在富有活力的社群中分享心得、討論問題。更有專業導師參與，提供專業指導和建議。透過多元化的討論主題，激發學生學習興趣，促進知識交流。</p>
                    <!-- 連結到當頁書籤 -->
                    <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    <!-- 連結到其他頁面 -->
                    <!--<a class="readmore stretched-link" asp-area="" asp-controller="Home" asp-action="Index">Read more <i class="bi bi-arrow-right"></i></a>-->
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-pc-display-horizontal"></i>
                    </div>
                    <h3>影片教材</h3>
                    <p>從個性化的學習路徑到即時的進度追蹤，我們提供多元化的複習工具，讓您按照自己的步伐學習，輕鬆掌握知識。</p>
                    <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-mortarboard-fill"></i>
                    </div>
                    <h3>媒合廠商</h3>
                    <p>我們提供精準的配對功能，確保廠商與學生之間的需求和能力完美契合。實現雙方共贏的局面。</p>
                    <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-cup-hot-fill"></i>
                    </div>
                    <h3>餐點外送</h3>
                    <p>外送服務提供多樣化的健康餐點選擇，不僅價格親民，更強調食材新鮮、營養均衡，為學生們打造美味又健康的用餐選擇！</p>
                    <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>
</section><!-- End Our Services Section -->
<!-- ========================================================
       Testimonials Section
========================================================= -->

<!-- ========================================================
       Portfolio Section
========================================================= -->
<!-- 分頁卡片區（包含切換分頁的動態）-->
@* <section id="portfolio" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Portfolio</h2>
            <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

            <!-- 分頁標題 -->
            <div>
                <ul class="portfolio-flters">
                    <!-- data-filter="*" 表示不過濾，全部顯示-->
                    <li data-filter="*" class="filter-active">All</li>
                    <!-- data-filter 根據 class 進行過濾 -->
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-product">Product</li>
                    <li data-filter=".filter-branding">Branding</li>
                    <li data-filter=".filter-books">Books</li>
                </ul><!-- End Portfolio Filters -->
            </div>

            <!-- 簡單型圖文卡片（共有12張，分為4類） -->
            <div class="row gy-4 portfolio-container">
                <!-- 注意最後一個class，自訂名稱需對應到上方的分頁標題過濾器 -->
                <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <!-- 圖片連結 -->
                        <a href="~/assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <!-- 小標題連結 -->
                            <h4>
                                <a href="portfolio-details.html" title="More Details">App 1</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Product 1</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Branding 1</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Books 1</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">App 2</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Product 2</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Branding 2</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Books 2</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">App 3</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-product">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Product 3</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Branding 3</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-xl-4 col-md-6 portfolio-item filter-books">
                    <div class="portfolio-wrap">
                        <a href="~/assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="~/assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
                        <div class="portfolio-info">
                            <h4>
                                <a href="portfolio-details.html" title="More Details">Books 3</a>
                            </h4>
                            <p>Lorem ipsum, dolor sit amet consectetur</p>
                        </div>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->

        </div>

    </div>
</section><!-- End Portfolio Section --> *@
<!-- ========================================================
       Our Team Section
========================================================= -->
<!-- 靜態人物卡片區 含有4個小icon -->
@* <section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Team</h2>
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <!-- 卡片（共有4張）-->
        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                    <h4>Walter White</h4>
                    <span>Web Development</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                    <h4>Sarah Jhinson</h4>
                    <span>Marketing</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                    <h4>William Anderson</h4>
                    <span>Content</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="member">
                    <img src="~/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>
</section><!-- End Our Team Section --> *@
<!-- ========================================================
       Pricing Section
========================================================= -->
<!-- 大型直立式卡片區（清單展示）-->
@* <section id="pricing" class="pricing sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Pricing</h2>
            <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <!-- 卡片區（共有3張） -->
        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

            <!-- 左方卡片 -->
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Free Plan</h3>
                    <div class="icon">
                        <i class="bi bi-box"></i>
                    </div>
                    <h4>
                        <sup>$</sup>0
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <!-- 打勾勾項目符號 -->
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <!-- 用刪除線劃掉 -->
                        <li class="na">
                            <!-- 打叉叉項目符號 -->
                            <i class="bi bi-x"></i>
                            <span>Pharetra massa massa ultricies</span>
                        </li>
                        <li class="na">
                            <i class="bi bi-x"></i>
                            <span>Massa ultricies mi quis hendrerit</span>
                        </li>
                    </ul>
                    <div class="text-center">
                        <!-- 按鈕連結 -->
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->
            <!-- 中央卡片 -->
            <div class="col-lg-4">
                <!-- featured 表示特別突出的內容（中央卡片顯得較高） -->
                <div class="pricing-item featured">
                    <h3>Business Plan</h3>
                    <div class="icon">
                        <i class="bi bi-airplane"></i>
                    </div>

                    <h4>
                        <sup>$</sup>29
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Pharetra massa massa ultricies
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Massa ultricies mi quis hendrerit
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->
            <!-- 右方卡片 -->
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Developer Plan</h3>
                    <div class="icon">
                        <i class="bi bi-send"></i>
                    </div>
                    <h4>
                        <sup>$</sup>49
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Pharetra massa massa ultricies
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Massa ultricies mi quis hendrerit
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>
</section><!-- End Pricing Section --> *@
<!-- ========================================================
       Frequently Asked Questions Section
========================================================= -->
<!-- 摺疊手風琴區 -->
@* <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <!-- 左方文字區 佔據寬度4/12 -->
            <div class="col-lg-4">
                <div class="content px-xl-5">
                    <h3>
                        Frequently Asked
                        <strong>Questions</strong>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                </div>
            </div>

            <!-- 右方手風琴區 佔據寬度8/12 -->
            <div class="col-lg-8">
                <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                    <!-- 手風琴元素1 -->
                    <div class="accordion-item">
                        <!-- 標題按鈕 -->
                        <h3 class="accordion-header">
                            <!-- data-bs-target 和 下方展開內容的 id 相互對應 -->
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                <span class="num">1.</span>
                                Non consectetur a erat nam at lectus urna duis?
                            </button>
                        </h3>
                        <!-- 展開內容 -->
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                <span class="num">2.</span>
                                Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                <span class="num">3.</span>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                <span class="num">4.</span>
                                Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                <span class="num">5.</span>
                                Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                            </button>
                        </h3>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                </div>

            </div>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section --> *@
<!-- ========================================================
       Recent Blog Posts Section
========================================================= -->
<!-- 靜態 圖片與文章標題卡片區（共有3張） -->

<section id="recent-posts" class="recent-posts sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>就業養成</h2>
            <h3>開班資訊</h3>
            <p>
                專為零基礎學員精心設計的課程，授予業界最需要的技能
            </p>
        </div>

        <div class="row gy-4">

            <!-- 卡片1 -->
            <div class="col-xl-4 col-md-6">
                <article>
                    <div class="post-img">
                        <img src="~/assets/img/blog/jnnwset.jpg" alt="" class="img-fluid" />
                    </div>

                    <p class="post-category">程式語言</p>

                    <!-- 含有連結的小標題 -->
                    <h2 class="title">
                        <a href="blog-details.html">前端工程師就業養成班(台北)</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <!-- 圓型圖片 -->
                        <!-- 名字與日期 -->
                        <div class="post-meta">
                            <p class="post-author">開課時間</p>
                            <p class="post-date">
                                <time datetime="2024-09-21">2024/09/21</time>
                            </p>
                        </div>
                    </div>
                </article>
            </div><!-- End post list item -->
            <!-- 卡片2 -->
            <div class="col-xl-4 col-md-6">
                <article>
                    <div class="post-img">
                        <img src="~/assets/img/blog/jeaimlt.jpg" alt="" class="img-fluid" />
                    </div>

                    <p class="post-category">AI智能</p>

                    <!-- 含有連結的小標題 -->
                    <h2 class="title">
                        <a href="blog-details.html">AIoT智慧機器人就業養成班(台北)</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <!-- 圓型圖片 -->
                        <!-- 名字與日期 -->
                        <div class="post-meta">
                            <p class="post-author">開課時間</p>
                            <p class="post-date">
                                <time datetime="2024-10-23">2024/10/23</time>
                            </p>
                        </div>
                    </div>
                </article>
            </div><!-- End post list item -->
            <!-- 卡片3 -->
            <div class="col-xl-4 col-md-6">
                <article>
                    <div class="post-img">
                        <img src="~/assets/img/blog/jpmfeet.jpg" alt="" class="img-fluid" />
                    </div>

                    <p class="post-category">程式語言</p>

                    <!-- 含有連結的小標題 -->
                    <h2 class="title">
                        <a href="blog-details.html">跨域Java軟體工程師就業養成班(桃園)</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <!-- 圓型圖片 -->
                        <!-- 名字與日期 -->
                        <div class="post-meta">
                            <p class="post-author">開課時間</p>
                            <p class="post-date">
                                <time datetime="2025-01-23">2025/01/23</time>
                            </p>
                        </div>
                    </div>
                </article>
            </div><!-- End post list item -->
        </div><!-- End recent posts list -->

    </div>
</section><!-- End Recent Blog Posts Section -->
<!-- ========================================================
       Contact Section
========================================================= -->
<!-- 聯絡資訊區 -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-header p-0">
            <h2><i class="bi bi-envelope-fill"></i></h2>
            <a href="mailto:a840123b@gmail.com">有問題請聯繫我們</a>
        </div>


@*         <div class="row gx-lg-0 gy-4">

            <div class="col-lg-4">

                <!-- 垂直列表（共有4列） -->
                <div class="info-container d-flex flex-column align-items-center justify-content-center">
                    <!-- 項目1 -->
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
                    </div><!-- End Info Item -->
                    <!-- 項目2 -->
                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>
                    </div><!-- End Info Item -->
                    <!-- 項目3 -->
                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div><!-- End Info Item -->
                    <!-- 項目4 -->
                    <div class="info-item d-flex">
                        <i class="bi bi-clock flex-shrink-0"></i>
                        <div>
                            <h4>Open Hours:</h4>
                            <p>Mon-Sat: 11AM - 23PM</p>
                        </div>
                    </div><!-- End Info Item -->
                </div>

            </div>

            <!-- 表單區 -->
            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div> *@
    </div>
    <hr />
    <!-- 左右滑動輪播的小圖片區 -->
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-out">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <!-- 要輪播的圖片 -->
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-4.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-5.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-6.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-7.png" class="img-fluid" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/assets/img/clients/client-8.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->
</section><!-- End Contact Section -->
