@{
    ViewData["Title"] = "Pricing Section";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<!-- ========================================================
       Pricing Section
========================================================= -->
<!-- 大型直立式卡片區（清單展示）-->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Pricing</h2>
            <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
        </div>

        <!-- 卡片區（共有3張） -->
        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

            <!-- 左方卡片 -->
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Free Plan</h3>
                    <div class="icon">
                        <i class="bi bi-box"></i>
                    </div>
                    <h4>
                        <sup>$</sup>0
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <!-- 打勾勾項目符號 -->
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <!-- 用刪除線劃掉 -->
                        <li class="na">
                            <!-- 打叉叉項目符號 -->
                            <i class="bi bi-x"></i>
                            <span>Pharetra massa massa ultricies</span>
                        </li>
                        <li class="na">
                            <i class="bi bi-x"></i>
                            <span>Massa ultricies mi quis hendrerit</span>
                        </li>
                    </ul>
                    <div class="text-center">
                        <!-- 按鈕連結 -->
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->
            <!-- 中央卡片 -->
            <div class="col-lg-4">
                <!-- featured 表示特別突出的內容（中央卡片顯得較高） -->
                <div class="pricing-item featured">
                    <h3>Business Plan</h3>
                    <div class="icon">
                        <i class="bi bi-airplane"></i>
                    </div>

                    <h4>
                        <sup>$</sup>29
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Pharetra massa massa ultricies
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Massa ultricies mi quis hendrerit
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->
            <!-- 右方卡片 -->
            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Developer Plan</h3>
                    <div class="icon">
                        <i class="bi bi-send"></i>
                    </div>
                    <h4>
                        <sup>$</sup>49
                        <span> / month</span>
                    </h4>
                    <ul>
                        <li>
                            <i class="bi bi-check"></i> Quam adipiscing vitae proin
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nec feugiat nisl pretium
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Nulla at volutpat diam uteera
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Pharetra massa massa ultricies
                        </li>
                        <li>
                            <i class="bi bi-check"></i> Massa ultricies mi quis hendrerit
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>
</section><!-- End Pricing Section -->