@{
    ViewData["Title"] = "學員訂單管理";
}
@* @User.Identity?.Name 這能抓到使用者的名稱 *@
@* @User?.FindFirst("FullName")?.Value 也能抓到使用者的名稱*@
@* @User?.FindFirst("StudentId")?.Value 這能抓到使用者的PK *@
@section Styles
{
    <!-- 核心：Tocas UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.2.5/tocas.min.js"></script>

    <!-- 字體：Noto Sans TC -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        .meta-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .accordion .accordion-item .accordion-button:hover {
            background-color: rgba(196,206,157,0.2);
        }

        #main {
            background-color: #ffff;
            min-height: 1243.05px;
        }
    </style>
}

@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            學員專區是專為學員提供的服務平台。在這裡，您可以：讓您可以一站式完成所有學務相關事宜。
                        </p>
                        <p>學員專區是您學習生活的最佳伴侶。</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}
<!-- ========================================================
       Blog Details Section
========================================================= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <!-- 左方側邊欄：佔據寬度 4/12 -->
            <!-- 左方側邊欄：標籤分類 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- 搜尋框 -->
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form class="mt-3 is-light">
                            <input type="text" placeholder="請輸入訂單編號、日期或店家全名" id="keyword">
                            <button type="button" onclick="keypointbtw()"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->
                    <!-- 文字列表 -->
                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title m-1">學員服務</h3>
                        <div class="list-group">
                            <a asp-area="" asp-controller="Student" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center" aria-current="true">個人資料 </a>
                            <a asp-area="class_discuss" asp-controller="discussforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">學習討論區</a>
                            <a asp-area="course_management" asp-controller="courseforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的課程</a>
                            <a asp-area="video_management" asp-controller="videoforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">影片教材</a>
                            <a asp-area="ordering_system" asp-controller="orderforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center active">餐點訂單管理</a>
                            <a asp-area="job_vacancy" asp-controller="jobforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的履歷</a>
                            <a asp-area="question_bank" asp-controller="questionforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">線上考試</a>
                            <a asp-area="" asp-controller="Login" asp-action="logout" class="list-group-item list-group-item-action m-2 border border-3 text-center text-danger">登出</a>
                        </div>
                    </div><!-- End sidebar categories-->
                </div><!-- End Blog Sidebar -->
            </div>
            <!-- 主要區域：佔據寬度 8/12 -->
            <div class="col-lg-8">
                <!-- 內容 -->
                <article class="blog-details">
                    <div class="ts-grid is-stacked">
                        <div class="column">
                            <div class="ts-header is-big is-heavy mb-3">進行中訂單</div>
                            <div class="accordion-item">
                                <div class="accordion" id="orderNotcomplent">
                                </div>
                                <div class="column">
                                    <div>
                                        <div class="ts-header is-big is-heavy mt-3 mb-2">歷史訂單查看</div>
                                        <div class="accordion">
                                            <div class="accordion-item" id="inputorderdeatial">
                                                <img src="~/images/t訂餐/loading02.gif" class="rounded mx-auto d-block" id="loadinggif" />
                                                <!-- 詳細訂單載入 -->
                                            </div>
                                        </div>
                                        <div class="meta-bottom">
                                            <div class="btn-group me-2" role="group" aria-label="First group" id="page">
                                                <!-- 載入分頁 -->
                                            </div>
                                        </div><!-- End meta bottom -->
                                    </div>
                                </div>
                            </div>


                </article><!-- End blog post -->
            </div>
        </div>
    </div>
</section><!-- End Blog Details Section -->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script>
        const studentID = @User?.FindFirst("StudentId")?.Value;
        let searchData = {
            "storeID": studentID,
            "keyword": "",
            "page": 1,
            "pageSize": 5
        };
        //載入歷史訂單已完成且有評論
        const loadSpots = () => {
            $('#loadinggif').show();
            $.ajax({
                url: '@Url.Content("~/api/StudentOrderAPI")',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(searchData),
                success: (data) => {
                    const datalist = data.spotImagesSpots.map((a, index) => {
                        const { 訂單id, 狀態, 日期, 支付方式, 評價星數, 總價, 訂單詳細表, 評價內容 } = a;
                        const ifnull = 評價內容 == null ? "未留評價" : 評價內容;
                        const orderDetailsHTML = 訂單詳細表.map(detail => {
                            return `<tr class="table-light align-middle">
                                                        <td>${detail.店家名稱}</td>
                                                        <td>${detail.餐點名稱}</td>
                                                        <td>${detail.數量}</td>
                                                        <td>${detail.小計}</td>
                                                        <td><a href="mailto:${detail.信箱}"><i class="bi bi-envelope"></i></a><p><a href='#'>${detail.電話}</a></p></td>
                                                    </tr>`;
                        }).join('');

                        return `<div class="accordion-item">
                                                     <h2 class="accordion-header rounded-3" id="panelsStayOpen-headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo-${index}" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo-${index}">
                                                            <table class="table table-bordered">
                                                                  <thead class="text-center">
                                                                    <tr class="table-secondary">
                                                                        <th>訂單編號</th>
                                                                        <th>訂單日期</th>
                                                                        <th>訂單狀態</th>
                                                                        <th>總價</th>
                                                                        <th>付款方式</th>
                                                                        <th>評價星數</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="text-center">
                                                                    <tr class="table-light">
                                                                        <td>${訂單id}</td>
                                                                        <td>${日期}</td>
                                                                        <td>${狀態}</td>
                                                                        <td>${總價}</td>
                                                                        <td>${支付方式}</td>
                                                                        <td>${評價星數}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </button>
                                                    </h2>
                                                    <div id="panelsStayOpen-collapseTwo-${index}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo-${index}">
                                                        <div class="accordion-body">
                                                            <div class="p-3">
                                                            <strong class="fs-5">訂單詳論:</strong><spam class="fs-5 m-1 text-black-50">${ifnull}</spam>
                                                            </div>
                                                               <table class="table table-bordered table-hover">
                                                                <thead class="text-center fw-bold">
                                                                     <tr class="table-warning">
                                                                        <th>店家名稱</th>
                                                                        <th>餐點名稱</th>
                                                                        <th>數量</th>
                                                                        <th>小計</th>
                                                                        <th>聯絡店家</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="text-center">
                                                                    ${orderDetailsHTML}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>`;
                    }).join('');
                    $('#loadinggif').hide();
                    $('#inputorderdeatial').html(datalist);
                    let liPaging = "";
                    for (let i = 1, max = data.totalPages; i <= max; i++) {
                        liPaging += `<button type="button" class="btn btn-secondary" onclick="pagechange(${i})">${i}</button>`;
                    }
                    $('#page').html(liPaging);
                }
                ,
                error: function (xhr, status, error) {
                    console.log('失敗');
                }
            })
        };
        //載入訂單狀態點選完成寫入評論與星數
        const orderNotcomplent = () => {
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/orderNotcomplent")?id=${studentID}`,
                success: (datas) => {
                    if (datas.length == 0) {
                        const nullOrder = (`
                                 <div class="ts-blankslate is-light">
                                     <div class="header" style="background-color:#ffff">目前沒有進行中的訂單</div>
                                     <div class="description">能快去學生餐廳挑選一些想吃的東西吧</div>
                                   </div>
                                `);
                        $('#orderNotcomplent').html(nullOrder);
                    }
                    else {
                        const datalist = datas.map((a, index) => {
                            let stringArray = [];
                            const { 訂單id, 狀態, 日期, 支付方式, 評價星數, 總價, 訂單詳細表 } = a;
                            const orderDetailsHTML = 訂單詳細表.map(detail => {
                                stringArray.push(detail.狀態);
                                return `<tr class="table-light align-middle">
                                                                <td>${detail.狀態}</td>
                                                                <td>${detail.店家名稱}</td>
                                                                <td>${detail.餐點名稱}</td>
                                                                <td>${detail.數量}</td>
                                                                <td>${detail.小計}</td>
                                                                <td><a href="mailto:${detail.信箱}"><i class="bi bi-envelope"></i></a><p><a href='#'>${detail.電話}</a></p></td>
                                                            </tr>`;
                            }).join('');
                            const bool = stringArray.indexOf('進行中') !== -1 ? "is-disabled" : "";
                            const word = stringArray.indexOf('進行中') !== -1 ? "有訂單未完成" : "完成訂單";
                            return `<div class="accordion-item">
                                                             <h2 class="accordion-header rounded-3" id="panelsStayOpen-headingTwo">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo-1-${index}" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo-1-${index}">
                                                                    <table class="table table-bordered">
                                                                          <thead class="text-center">
                                                                            <tr class="table-secondary">
                                                                                <th>訂單編號</th>
                                                                                <th>訂單日期</th>
                                                                                <th>訂單狀態</th>
                                                                                <th>總價</th>
                                                                                <th>付款方式</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-center">
                                                                            <tr class="table-light">
                                                                                <td>${訂單id}</td>
                                                                                <td>${日期}</td>
                                                                                <td>${狀態}</td>
                                                                                <td>${總價}</td>
                                                                                <td>${支付方式}</td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </button>
                                                            </h2>
                                                            <div id="panelsStayOpen-collapseTwo-1-${index}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo-1-${index}">
                                                                <div class="accordion-body">
                                                                    <div class="p-3">
                                                                    <button class="ts-button is-light ${bool}" data-id="${訂單id}">${word}</button>
                                                                    </div>
                                                                       <table class="table table-bordered table-hover">
                                                                        <thead class="text-center fw-bold">
                                                                             <tr class="table-warning">
                                                                                <th>狀態</th>
                                                                                <th>店家名稱</th>
                                                                                <th>餐點名稱</th>
                                                                                <th>數量</th>
                                                                                <th>小計</th>
                                                                                <th>聯絡店家</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody class="text-center">
                                                                            ${orderDetailsHTML}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>`;
                        }).join('');
                        $('#orderNotcomplent').html(datalist);
                        $('button[data-id]').on('click', async function () {
                            var orderId = $(this).data('id');
                            //console.log(orderId);
                            const { value: userInput } = await Swal.fire({
                                title: "訂單評論",
                                html:
                                    `<div class="ts-wrap is-vertical">
                                         <div class="ts-segment">
                                               <div class="ts-rating is-input is-yellow ts-wrap is-center-aligned">
                                                 <input class="star" type="radio" name="rating" value="1" />
                                                  <input class="star" type="radio" name="rating" value="2" checked />
                                                  <input class="star" type="radio" name="rating" value="3" />
                                                  <input class="star" type="radio" name="rating" value="4" />
                                                   <input class="star" type="radio" name="rating" value="5" />
                                                 </div>
                                             </div>
                                         <div class="ts-segment">
                                            <textarea id="swal-input2" class="swal2-textarea" placeholder="這裡寫下你的評論" maxlength="50"></textarea>
                                         </div>
                                     </div>
                                    `,
                                focusConfirm: false,
                                preConfirm: () => {
                                    return [
                                        document.querySelector('input[name="rating"]:checked').value,
                                        document.getElementById('swal-input2').value
                                    ];
                                },
                                showCancelButton: true,
                                confirmButtonText: "確認送出",
                                cancelButtonText: "取消",
                                showLoaderOnConfirm: true,
                                preConfirm: async () => {
                                    const selectValue = document.querySelector('input[name="rating"]:checked').value;
                                    const textValue = document.getElementById('swal-input2').value;

                                    return { selectValue, textValue };
                                }
                            });
                            if (userInput) {
                                const { selectValue, textValue } = userInput;
                                var requestData = {
                                    id: orderId, // 訂單ID
                                    start: userInput.selectValue, // 評價星數
                                    feedback: userInput.textValue // 訂單評論
                                };
                                //這裡寫完成訂單與留下訂單評論userInput.selectValue為星數，userInput.textValue為評論
                                $.ajax({
                                    url: `@Url.Content("~/tOrder_StoreAPI/orderFinallcomplent")`,
                                    data: requestData,
                                    method:'post',
                                    success: () => {
                                        //刷新畫面
                                        Swal.fire({
                                            icon: 'success',
                                            title: '完成訂單評論',
                                            text: '感謝你的意見回饋><',
                                        }).then(() => {
                                            orderNotcomplent();
                                            loadSpots();
                                        })
                                    },
                                    error: () => {
                                        console.log('出一點小問題')
                                    }
                                })
                                //console.log(userInput);
                            }
                        })
                    }
                }
            })
        };
        (async () => {
            loadSpots();
            orderNotcomplent();
        })();
        function pagechange(page) {
            searchData.page = page;
            loadSpots();
        };
        function keypointbtw() {
            var keyword = $('#keyword').val();
            searchData.keyword = keyword;
            $('#keyword').val('');
            loadSpots();
        }
        $("#keyword").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                keypointbtw();
            };
        });
    </script>
}
