@{
    ViewData["Title"] = "Home Page";
}
@model VMstoreInformation
@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link href="~/css/ordering_system/store_index.css" rel="stylesheet" />
    @* 以上引入圓餅圖資源 *@
    <link href="~/css/ordering_system/pie_chart.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
        .orders {
            margin-top: 30px;
            margin-bottom: 100px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 55px;
            background-color: #cccc;
            color: black;
            padding: 5px;
            text-align: center;
        }
    </style>
}
<div class="header">
    <div class="left">
        <h1>歡迎回來，@User.Identity?.Name 夥伴</h1>
    </div>
</div>
<!-- Insights -->
<ul class="insights">
    <li>
        <i class='bx bx-cool'></i>
        <a href="#">
            <span class="info ">
                <h3 class="text-secondary">
                    歷史訂單數
                </h3>
                <p class="fs-3">@Model.historyorder</p>
            </span>
        </a>
    </li>
    <li>
        <i class='bx bx-cool'></i>
        <a href="#">
            <span class="info ">
                <h3 class="text-secondary">
                    總營業額
                </h3>
                <p class="fs-3">@Model.turnover</p>
            </span>
        </a>
    </li>
    <li>
        <i class='bx bx-cool'></i>
        <a href="#">
            <span class="info ">
                <h3 class="text-secondary">
                    評論數量
                </h3>
                <p class="fs-3">@Model.commentsNum</p>
            </span>
        </a>
    </li>
    <li>
        <i class='bx bx-cool'></i>
        <a href="#">
            <span class="info ">
                <h3 class="text-secondary">
                    平均評價
                </h3>
                <p class="fs-3">@Model.evaluate</p>
            </span>
        </a>
    </li>
</ul>
@* 圖表、店家、菜單放置區*@
<div class="bottom-data">
    <div class="orders m-0">
        <div class="header">
            <i class='bx bx-bar-chart-alt' onclick="clearbar()"></i>
            <h3>月營收變化</h3>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    2024年
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item year" href="#" data-id="2021">2021年</a></li>
                    <li><a class="dropdown-item year" href="#" data-id="2023">2023年</a></li>
                    <li><a class="dropdown-item year" href="#" data-id="2024">2024年</a></li>
                </ul>
            </div>
        </div>
        @* 圖表1放置 *@
        <canvas id="bar-chart" width="500" height="250"></canvas>
    </div>
    <div class="orders m-0">
        <div class="header">
            <i class='bx bx-adjust' onclick="clearpie()"></i>
            <h3>店家評價分析</h3>
        </div>
        @* 圖表2放置 *@
        <div id="pie-chart"></div>
    </div>
</div>
@section Scripts
{
    <script>
        const storeID = @User?.FindFirst("teacherID")?.Value
        var bar_chart; // 宣告 bar_chart 變數
        async function barchart_monthly_revenue() {
            const request = await fetch(`@Url.Content("~/tOrder_StoreAPI/barchart_monthly_revenue")?yaer=2024&id=${storeID}`);
            const data1 = await request.json(); // 載入api資料

            if (bar_chart && bar_chart.data.datasets.length > 0) {
                bar_chart.data.datasets = []; // 清除先前的資料集合
            }

            var bar_ctx = document.getElementById('bar-chart').getContext('2d');
            var purple_orange_gradient = bar_ctx.createLinearGradient(0, 0, 0, 600);
            purple_orange_gradient.addColorStop(0, 'orange');
            purple_orange_gradient.addColorStop(1, 'purple');

            if (!bar_chart) {
                // 如果 bar_chart 尚未初始化，則創建一個新的 Chart 物件
                bar_chart = new Chart(bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        datasets: [{
                            label: '月營收金額',
                            data: data1,
                            backgroundColor: purple_orange_gradient,
                            hoverBackgroundColor: purple_orange_gradient,
                            hoverBorderWidth: 2,
                            hoverBorderColor: 'purple'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            } else {
                // 否則，只更新資料
                bar_chart.data.datasets.push({
                    label: '月營收金額',
                    data: data1,
                    backgroundColor: purple_orange_gradient,
                    hoverBackgroundColor: purple_orange_gradient,
                    hoverBorderWidth: 2,
                    hoverBorderColor: 'purple'
                });
                bar_chart.update();
            }
        };
        async function pieupdate() {
            const url = `@Url.Content("~/tOrder_StoreAPI/pieComment")`
            const request = await fetch(url);
            const data = await request.json();
            update(data)
        };
        //執行指定店家評論分析，圓餅圖資料顯示function
        async function pieComment_withstore(id) {
            const url = `@Url.Content("~/tOrder_StoreAPI/pieComment_withstore")?id=${id}`
            const request = await fetch(url);
            const data = await request.json();
            update(data)
        };
        //開始啟動載入
        (async() => {
            barchart_monthly_revenue();
            pieComment_withstore(storeID);
        })()
    </script>
}
