@{
    ViewData["Title"] = "餐點管理系統";
}
@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    @* <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> *@
    @* <link href="~/css/datatablesinline.css" rel="stylesheet" /> *@
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <style>
        .imthead {
            background-color: #C4E1E1;
            font-weight: 700;
        }
    </style>
}
<div class="is-light">
    <div class="ts-content is-tertiary is-vertically-padded is-rounded">
        <div class="ts-container is-very-narrow has-vertically-spaced">
            <div class="ts-header is-big is-massive">餐點管理</div>
            <div class="ts-text is-secondary">點選新增後就能新增菜色，你能針對不同餐點做編輯下上架</div>
        </div>
    </div>
</div>
<div class="ts-box is-light">
    <div class="ts-app-layout is-horizontal">
        <div class="cell is-fluid">
            <div class="ts-content">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="搜尋........." aria-label="Recipient's username" aria-describedby="button-addon2" id="searchKeyWord">
                    <button class="ts-button is-icon" onclick="search()">
                        <span class="ts-icon is-magnifying-glass-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="ts-content ts-wrap">
                <button class="ts-button is-start-labeled-icon" onclick="textdonotthing()">
                    <span class="ts-icon is-check-to-slot-icon"></span>
                    儲存
                </button>
                <button class="ts-button is-start-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="ts-icon is-plus-icon"></span>
                    新增餐點
                </button>
            </div>
        </div>
    </div>
</div>
@* 標題結束*@
<div class="bottom-data">
    <div class="orders">
        <div class="header m-0">
            <i class='bx bx-receipt'></i>  <!-- 表格的小icon -->
            <h3>店家餐點</h3> <!-- 表格的名稱 -->
        </div>
        <div class="ts-text is-secondary m-1">雙擊餐點能針對該品項編輯</div>
        <div class="ts-box is-light">
            <div class="table-responsive">
                <table class="ts-table is-basic is-large table align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="fs-5">
                                <div class="ts-content is-secondary is-dense is-start-aligned" onclick="orderClick('餐點名稱')">
                                    <span class="ts-icon is-end-spaced is-arrow-down-up-across-line-icon"></span> 名稱
                                </div>
                            </th>
                            <th class="fs-5">
                                <div class="ts-content is-secondary is-dense is-start-aligned" onclick="orderClick('餐點描述')">
                                    <span class="ts-icon is-end-spaced is-arrow-down-up-across-line-icon"></span> 餐點描述
                                </div>
                            </th>
                            <th class="fs-5">
                                <div class="ts-content is-secondary is-dense is-center-aligned" onclick="orderClick('餐點定價')">
                                    <span class="ts-icon is-end-spaced is-arrow-down-up-across-line-icon"></span> 價格
                                </div>
                            </th>
                            <th class="fs-5">
                                <div class="ts-content is-secondary is-dense is-center-aligned">
                                    <span class="ts-icon is-end-spaced is-lock-icon"></span> 上下架管理
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" id="menulist">
                        <tr class="is-tertiary is-negative is-indicated">
@*                             <td>1212</td>
                            <td>1212</td>
                            <td>1212</td>
                            <td>1212</td>
                            <td>1212</td> *@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ts-wrap is-center-aligned">
            <div class="ts-pagination is-light" id="pagelocation">
                <a class="item is-back"></a>
                <a class="item is-active" onclick="page(1)">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="item is-next"></a>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 id="offcanvasRightLabel">編輯餐點</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="title is-mark"><span class="ts-text is-mark">注意</span>編輯後記得儲存變更</div>
        <form class="m-3" id="myForm">
            <div class="mb-3">
                <label for="餐點名稱" class="form-label">餐點名稱</label>
                <input type="text" class="form-control" id="餐點名稱" aria-describedby="emailHelp" name="餐點名稱">
                <div id="emailHelp" class="form-text">注意名稱是否符合審核規範</div>
                <span class="ts-text is-negative" id="store餐點名稱Error"></span>
            </div>
            <div class="mb-3">
                <label for="餐點售價" class="form-label">餐點售價</label>
                <div class="ts-input is-start-labeled is-light">
                    <span class="label">$</span>
                    <input type="number" name="餐點售價" id="餐點售價">
                    <span class="ts-text is-negative" id="store餐點售價Error"></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="餐點描述" class="form-label">餐點描述</label>
                <div class="ts-input is-resizable is-light">
                    <textarea placeholder="餐點描述......" name="餐點描述" id="餐點描述"></textarea>
                </div>
                <span class="ts-text is-negative" id="store餐點描述Error"></span>
                <span class="ts-text is-secondary">餐點描述避免超過50個字為限</span>
            </div>
            <div class="mb-3">
                <div class="ts-box is-hollowed is-light ts-file" id="fileupdate">
                    <div class="ts-blankslate is-interactive">
                        <img style="display: none; width: 100%; height: 100%;" url="" />
                        <span class="ts-icon is-upload-icon"></span>
                        <div class="header">上傳餐點圖片</div>
                    </div>
                </div>
                <input type="text" style="display:none" name="menuID" id="menuID">
                <input type="file" style="display:none" name="file" id="fileInput">
            </div>
            <button class="ts-button is-start-labeled-icon is-outlined is-light is-fluid" type="submit" id="subBtn">
                <span class="ts-icon is-check-icon"></span>
                儲存變更
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const storeID = @User?.FindFirst("teacherID")?.Value;
        let menuID = 0;
        let searchData = {
            "storeID": storeID,
            "keyword": "",
            "page": 1,
            "pageSize": 5,
            "sortType": "",
            "sortBy": "上架"
        };
        const loadSpots = () => {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '@Url.Content("~/tOrder_StoreAPI/storeMenu")',
                    method: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(searchData),
                    success: (data) => {
                        const datalist = data.spotMeauList.map(a => {
                            const { 餐點id, 餐點名稱, 餐點描述, 餐點定價, 餐點照片, 上架 } = a;
                            const formattedPrice = 餐點定價.toLocaleString();
                            const imageUrl = 餐點照片 ? 餐點照片 : '/images/t訂餐/餐點/noimage.jpg';
                            if (上架 && 上架.trim() === "1") {
                                return (`
                                            <tr data-id="${餐點id}">
                                                <td class="mh-100" style="width: 100px; height: 100; display: flex; align-items: center; justify-content: center;">
                                                    <div style="width: 75px; height: 75px; overflow: hidden;">
                                                       <img src="${imageUrl}" style="width: 100%; height: 100%; object-fit: cover;" />
                                                    </div>
                                                </td>
                                                <td class="fs-4">${餐點名稱}</td>
                                                 <td class="fs-4">
                                                    <div class="ts-text is-truncated" style="max-width: 500px;">
                                                      ${餐點描述}
                                                     </div>
                                                </td>
                                                <td class="fs-4 is-center-aligned">$ ${formattedPrice}</td>
                                                <td class="is-center-aligned">
                                                        <button class="ts-button is-icon is-negative is-outlined"data-id="${餐點id}" data-bs-toggle="tooltip" data-bs-placement="top" title="商品下架">
                                                        <span class="ts-icon is-trash-icon"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        `);
                            } else {
                                return (`
                                                <tr data-id="${餐點id}" class="is-tertiary is-negative is-indicated">
                                                 <td class="mh-100" style="width: 100px; height: 100; display: flex; align-items: center; justify-content: center;">
                                                   <div style="width: 75px; height: 75px; overflow: hidden;">
                                                         <img src="${imageUrl}" style="width: 100%; height: 100%; object-fit: cover;" />
                                                   </div>
                                                  </td>
                                                  <td class="fs-4">${餐點名稱}</td>
                                                  <td class="fs-4">
                                                   <div class="ts-text is-truncated" style="max-width: 500px;">
                                                     ${餐點描述}
                                                   </div>
                                                        </td>
                                                         <td class="fs-4 is-center-aligned">$ ${formattedPrice}</td>
                                                         <td class="is-center-aligned">
                                                          <button class="ts-button is-icon" data-id="${餐點id}" data-bs-toggle="tooltip" data-bs-placement="top" title="商品重新上架">
                                                                <span class="ts-icon is-square-plus-icon"></span>
                                                          </button>
                                                        </td>
                                                    </tr>
                                                `);
                            }
                        })
                        $('#menulist').html(datalist);
                        let liPaging = '<a class="item is-back"></a>';
                        for (let i = 1, max = data.totalPages; i <= max; i++) {
                            liPaging += `<a class="item" onclick="page(${i})" id='page${i}'>${i}</a>`;
                        }
                        liPaging += '<a class="item is-next"></a>';
                        $('#pagelocation').html(liPaging);
                        resolve();
                    },
                    error: (xhr, status, error) => {
                        // 處理Ajax請求失敗的情況
                        console.error('Ajax request failed:', status, error);
                    }
                })
            })
        };
        //點選下架菜單
        $('#menulist').on('click', 'button.is-icon', async function () {
            var menuID = $(this).data('id');
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/MenuShelves")?id=${menuID}`,
                success: () => {
                    Swal.fire({
                        icon: 'success',
                        title: '餐點修改',
                        text: '資料修改完成',
                    }).then(() => {
                        searchData.sortType = "";
                        searchData.sortBy = "上架"
                        loadSpots();
                    })
                },
                error: (xhr, status, error) => {
                    console.error('Ajax request failed:', status, error);
                }
            })
        })
        //網頁載入
        $(document).ready(function () {
            //點選圖片做檔案上傳
            $('#fileupdate').click(() => {
                $('#fileInput').click();
            });
            // 執行上傳預覽，當 fileInput 元素的值發生改變時
            $('#fileInput').change(function (event) {
                const file = event.target.files[0]; // 獲取選擇的文件
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        // 將 img 元素的 src 屬性設置為所選文件的數據 URL，以顯示預覽圖片
                        $('#fileupdate img').attr('src', e.target.result).show();
                        // 隱藏 "上傳餐點圖片" 標題
                        $('#fileupdate .header').hide();
                    };
                    reader.readAsDataURL(file); // 讀取文件
                }
            });
            loadSpots().then(() => {
                $('#page1').addClass('is-active');
            });
        })
        //雙點選餐點出現右側視窗，帶進資料
        $('#menulist').on('dblclick', 'tr', async function () {
            var storeID = $(this).data('id');
            menuID = storeID;
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/MenuDeatail")?id=${storeID}`,
                success: (data) => {
                    const formattedPrice = data[0].餐點定價.toLocaleString();
                    const imageUrl = data[0].餐點照片 == null;
                    $('#餐點名稱').val(data[0].餐點名稱);
                    $('#餐點售價').val(formattedPrice);
                    $('#餐點描述').text(data[0].餐點描述);
                    if (imageUrl) {
                        $('#fileupdate img').hide();
                        $('#fileupdate .header').show();
                    } else {
                        $('#fileupdate img').attr('src', data[0].餐點照片).show();
                        $('#fileupdate .header').hide();
                    }
                }
            }).then(() => {
                $('#offcanvasRight').offcanvas('show');
            });
        });

        //設置關閉回歸初始狀態
        $('#offcanvasRight').on('hidden.bs.offcanvas', function () {
            // 獲取表單元素
            $('#fileupdate img').hide();
            $('#fileupdate .header').show();
            const form = document.getElementById('myForm');
            const fileInput = document.getElementById('fileInput');
            fileInput.value = '';
            $('#store餐點名稱Error').text('');
            $('#store餐點售價Error').text('');
            $('#store餐點描述Error').text('');
            $('#餐點描述').text('');
            menuID = 0;
            // 重置表單
            form.reset();
        });
        //設定表單送出
        $('#myForm').submit(function (event) {
            event.preventDefault();
            $('#menuID').val(menuID);
            const file = $('#fileInput')[0].files[0];
            const menuForm = $('#myForm')[0];
            let formData = new FormData(menuForm);
            formData.append('file', file);
            formData.append('storeID', storeID);
            $.ajax({
                url: '@Url.Content("~/tOrder_StoreAPI/meal_deatail_form")',
                method: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: (datas) => {
                    if (!datas.isValid) {
                        $('#store餐點名稱Error').text(datas.errors.餐點名稱);
                        $('#store餐點售價Error').text(datas.errors.餐點售價);
                        $('#store餐點描述Error').text(datas.errors.餐點描述);
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: '餐點修改',
                            text: '資料修改完成',
                        }).then(() => {
                            $('#offcanvasRight').offcanvas('hide');
                            loadSpots();
                        })
                    }
                },
                error: (xhr, status, error) => {
                    // 處理Ajax請求失敗的情況
                    console.error('Ajax request failed:', status, error);
                }
            })

        })
        //執行搜尋功能與搜尋完後清除輸入項
        function search() {
            let key = $('#searchKeyWord').val();
            searchData.keyword = key;
            loadSpots();
            $('#searchKeyWord').val("");
        }
        $('#searchKeyWord').keydown((event) => {
            if (event.key === 'Enter' || event.keyCode === 13) {
                search();
            }
        })
        //移動跳頁面左右鍵
        $('.ts-wrap').on('click', 'a.is-back', function () {
            var activeItem = $(".is-active");
            var prevItem = activeItem.prev(".item");
            if (prevItem.length) {
                prevItem.click();
                $('.is-next').removeClass('is-disabled');
                if (prevItem.index() == 1) {
                    $(this).addClass('is-disabled');
                }
            }
        })
        $('.ts-wrap').on('click', 'a.is-next', function () {
            var max = $('.item');
            var activeItem = $(".is-active");
            var prevItem = activeItem.next(".item");
            if (prevItem.length) {
                $('.is-back').removeClass('is-disabled');
                prevItem.click();
                if (!prevItem.nextAll(".item:not(.is-next)").first().length) {
                    $(this).addClass('is-disabled');
                }
            }
        })
        //切換跳頁
        function page(a) {
            searchData.page = a;
            loadSpots().then(() => {
                $(`#page${a}`).addClass('is-active');
            });
        }
        function orderClick(name) {
            searchData.sortBy = name;
            searchData.sortType = searchData.sortType == "" ? "asc" : "";
            loadSpots();
        }
        function textdonotthing() 
        {
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "完成儲存餐點資料",
                showConfirmButton: false,
                timer: 1500
            });
        }
    </script>
}