@{
    ViewData["Title"] = "訂單管理列表";
}
@model IEnumerable<T訂餐訂單詳細資訊表>
@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    @* <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> *@
    <link href="~/css/datatablesinline.css" rel="stylesheet" />
    <style>
        /*  頭部表格欄位樣式 */
        .imthead {
            background-color: #C4E1E1;
            font-weight: 700;
        }
        /*  新刪修按鈕排列方式 */
        .crudlist {
            display: flex;
            align-items: center;
            grid-gap: 10px;
        }
            /*  新刪修按鈕大小微調 */
            .crudlist li {
                padding: 15px;
                margin-bottom: 0;
            }
    </style>
}
<div class="ts-content is-tertiary is-vertically-padded is-rounded is-light">
    <div class="ts-container is-very-narrow has-vertically-spaced">
        <div class="ts-header is-big is-massive">訂單管理</div>
        <div class="ts-text is-secondary">處理、追蹤、統計線上訂單的工具。它可以幫助商家提升效率、增加顧客滿意度、優化營運流程</div>
    </div>
</div>
<div class="bottom-data">
    <div class="orders">
        <div class="ts-grid is-light is-evenly-divided">
            <div class="column">
                <div class="ts-box">
                    <div class="ts-content">
                        <div class="ts-statistic">
                            <div class="value" id="今日訂單數"></div>
                        </div>
                        <div class="ts-header is-heavy">今日訂單數</div>
                    </div>
                    <div class="symbol">
                        <span class="ts-icon is-list-check-icon"></span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ts-box">
                    <div class="ts-content">
                        <div class="ts-statistic">
                            <div class="value" id="當月新訂單比率"></div>
                        </div>
                        <div class="ts-header is-heavy">當月新訂單比率</div>
                    </div>
                    <div class="symbol">
                        <span class="ts-icon is-chart-line-icon"></span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ts-box">
                    <div class="ts-content">
                        <div class="ts-statistic">
                            <div class="value" id="過往訂單回購率"></div>
                        </div>
                        <div class="ts-header is-heavy">過往訂單回購率</div>
                    </div>
                    <div class="symbol">
                        <span class="ts-icon is-chart-simple-icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>本日訂單</h3>
            <i class='bx bx-filter'></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>餐點名稱</th>
                    <th>數量</th>
                    <th>狀態</th>
                    <th>小計</th>
                    <th>支付方式</th>
                    <th>時間</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="todayOrderIng">
                <tr data-id="2">
                    <td>1</td>
                    <td>大麥克</td>
                    <td>2</td>
                    <td><span class="status process">進行中</span></td>
                    <td>$150</td>
                    <td>現金支付</td>
                    <td>17:48</td>
                    <td><button class="ts-button is-negative is-outlined" data-id="1">取消訂單</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="reminders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3 class="is-heavy">本日完成訂單</h3> <!-- 表格的名稱 -->
            <i class='bx bx-filter'></i>
        </div>
        <div class="ts-box is-light">
            <table class="ts-table" style="height:100%">
                <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>餐點名稱</th>
                        <th>數量</th>
                        <th>狀態</th>
                    </tr>
                </thead>
                <tbody id="finishOrder">
                    <tr>
                        <td>1</td>
                        <td>大麥克</td>
                        <td>3</td>
                        <td>完成</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4"><span class="ts-text is-heavy is-large" id="完成訂單總額"></span></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="bottom-data">
    <div class="orders">
        <div class="header">
            @* 表格標題輸入地方 *@
            <i class='bx bx-receipt'></i> <!-- 表格的小icon -->
            <h3>歷史訂單列表</h3> <!-- 表格的名稱 -->
            @*             <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>  *@

        </div>
        @* 表格內容輸入地方 *@
        <table id="test_table">
            <thead class="imthead">
                <tr>
                    <td>訂單ID</td>
                    <td>餐點名稱</td>
                    <td>餐點數量</td>
                    <td>小計</td>
                    <td>狀態</td>
                    <td>支付方式</td>
                    <td>日期</td>
                </tr>
            </thead>
            @* 表格內容輸入地方 *@
        </table>
        @* 表格輸入結束 *@
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">歷史訂單明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ts-box is-light">
                    <table class="ts-table is-basic">
                        <thead>
                            <tr>
                                <th>訂單ID</th>
                                <th>餐點名稱</th>
                                <th>數量</th>
                                <th>訂單狀態</th>
                                <th>訂單日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="datatablelist">
                                <td>3</td>
                                <td>測試三</td>
                                <td>4</td>
                                <td>完成</td>
                                <td>2023-04-12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ts-text is-center-aligned">
                <span class="ts-text is-heavy" id="company" style="display:none">訂單已完成或取消則無法再進行修改編輯</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="chickbtn">確認</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"> </script>
    <script>
        let orderID;
        const storeID = @User?.FindFirst("teacherID")?.Value //店家ID
                //訂單當日與當月訂單分析
                const orderanalys = () => {
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/Orderanalysis")?id=${storeID}`,
                success: (data) => {
                    $('#今日訂單數').text(data.本日訂單數);
                    $('#當月新訂單比率').text(data.當月新訂單比率);
                    $('#過往訂單回購率').text(data.過往訂單回購率);
                },
                error: (xhr, status, error) => {
                    console.error('Ajax request failed:', status, error);
                }
            })
        };
        //取得當日進行中訂單與完成訂單顯示
        const todayOrderIng = () => {
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/Orderanalysis")?id=${storeID}`,
                success: (datas) => {
                    const datalist = datas.本日進行中訂單.map(a => {
                        const { 訂單編號, 餐點名稱, 數量, 金額, 支付方式, 訂單日期 } = a;
                        return (`
                                <tr data-id="${訂單編號}">
                                    <td>${訂單編號}</td>
                                    <td>${餐點名稱}</td>
                                    <td>${數量}</td>
                                    <td><span class="status process">進行中</span></td>
                                    <td>$${金額}</td>
                                    <td>${支付方式}</td>
                                    <td>${訂單日期}</td>
                                    <td><button class="ts-button is-negative is-outlined" data-id="${訂單編號}">取消訂單</button></td>
                                </tr>
                                `);
                    })
                    $('#todayOrderIng').html(datalist);
                    const finishlist = datas.本日完成或取消訂單.map(b => {
                        const { 訂單編號, 餐點名稱, 數量, type } = b;
                        const 狀態 = type == '-1' ? '取消' : '完成';
                        return (`
                                     <tr>
                                        <td>${訂單編號}</td>
                                        <td>${餐點名稱}</td>
                                        <td>${數量}</td>
                                        <td>${狀態}</td>
                                    </tr>`)
                    });
                    $('#finishOrder').html(finishlist);
                    $('#完成訂單總額').text(`統計金額：$${datas.完成訂單總額}`)
                },
                error: (xhr, status, error) => {
                    console.error('Ajax request failed:', status, error);
                }
            })
        }
        //點選後跳出alert取消該訂單
        $('#todayOrderIng').on('click', 'button.ts-button', function () {
            orderID = $(this).data('id');
            const type = '-1';
            Swal.fire({
                title: "確定要取消訂單嗎?",
                text: "訂單取消會無法回復，需與學員確認訂單狀況",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "確認"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `@Url.Content("~/tOrder_StoreAPI/OrdertypeOK")?id=${orderID}&type=${type}`,
                        method: 'POST',
                        success: () => {
                            Swal.fire({
                                title: "完成!",
                                text: "訂單已經取消",
                                icon: "success"
                            }).then(() => {
                                todayOrderIng();
                                $('#test_table').DataTable().destroy();
                                dataTable();
                            });
                        },
                        error: () => {
                            console.log('目前有回傳問題');
                        }
                    })
                }
            });
        })
        //雙擊後將該訂單完成
        $('#todayOrderIng').on('dblclick', 'tr', function () {
            orderID = $(this).data('id');
            type = '1';
            //console.log(orderID);
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/OrdertypeOK")?id=${orderID}&type=${type}`,
                method: 'POST',
                success: () => {
                    todayOrderIng();
                    $('#test_table').DataTable().destroy();
                    dataTable();
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "完成訂單送出變更",
                        showConfirmButton: false,
                        timer: 1500
                    })
                },
                error: () => {
                    console.log('目前有回傳問題');
                }
            })
        })
        //載入dataTable方式
        const dataTable = () => {
            $("#test_table").dataTable({
                autoWidth: false,
                ajax: {
                    type: 'GET',
                    url: "/StoreBackground/indexjson",
                    dataSrc: function (json) {
                        return json;
                    }
                },
                columns: [
                    { "data": "訂單編號", "width": "10 %" },
                    { "data": "餐點名稱", "width": "10 %" },
                    { "data": "數量", "width": "10 %" },
                    { "data": "金額", "width": "10 %" },
                    { "data": "訂單狀態", "width": "10 %" },
                    { "data": "支付方式", "width": "10 %" },
                    { "data": "訂單日期", "width": "10 %" },
                    { "data": "訂單編號", "visible": false }, //放入表格pk但不要顯示，為了在row中引用
                    { "data": "type", "visible": false }, //放入表格pk但不要顯示，為了在row中引用
                    {
                        data: null,
                        title: "function",
                        render: function (data, type, row) {
                            return '<i class="bx bxs-message-square-edit" data-id="' + row.訂單編號 + '"></i>' //引入icon與表格pk識別
                            //return '<button class="btn btn-danger btn-sm delete-btn" data-id="' + row.店家id + '">刪除</button>';
                        }
                    }
                ],
                fixedHeader: { header: true },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                },
            });
        }
        //執行網頁載入
        $(document).ready(function () {
            orderanalys();
            todayOrderIng();
            dataTable();
            //Datatable點擊事件
            $('#test_table tbody').on('click', 'i.bxs-message-square-edit', async function () {
                var productId = $(this).data('id');
                orderID = productId;
                $.ajax({
                    url: `@Url.Content("~/tOrder_StoreAPI/OrdertypeForDataTable")?id=${productId}`,
                    success: (datas) => {
                        var result = datas[0];
                        if (result.type == "1" || result.type == "-1") {
                            var data = (`<td>${result.訂單編號}</td>
                                                     <td>${result.餐點名稱}</td>
                                                    <td>${result.數量}</td>
                                                    <td>${result.訂單狀態}</td>
                                                     <td>${result.訂單日期}</td>`);
                            $('#datatablelist').html(data);
                            $('#company').show();
                            $('#chickbtn').hide();
                        }
                        else {
                            var data = (`<td>${result.訂單編號}</td>
                             <td>${result.餐點名稱}</td>
                             <td>${result.數量}</td>
                             <td>
                            <div class="ts-select is-active">
                                <select id="typeSelect">
                                    <option value="0">${result.訂單狀態}</option>
                                    <option value="1">完成</option>
                                    <option value="-1">取消</option>
                                </select>
                            </div>
                            </td>
                            <td>${result.訂單日期}</td>`);

                            $('#datatablelist').html(data);
                            $('#company').hide();
                            $('#chickbtn').show();
                        }
                        $('#exampleModal').modal('show');
                    },
                    error: () => {
                        console.log("失敗回傳")
                        alert('伺服器維護，稍後再試')
                    }
                })
            });
            //修改訂單狀態送出
            $('#chickbtn').click(() => {
               // console.log('送出');
                type = $('#typeSelect').val();
                $.ajax({
                    url: `@Url.Content("~/tOrder_StoreAPI/OrdertypeOK")?id=${orderID}&type=${type}`,
                    method: 'POST',
                    success: () => {
                        Swal.fire({
                            title: "完成修改!",
                            text: "歷史訂單已修改",
                            icon: "success"
                        }).then(() => {
                            $('#exampleModal').modal('hide');
                            todayOrderIng();
                            $('#test_table').DataTable().destroy();
                            dataTable();
                                });
            },
                error: () => {
                    console.log("修改失敗");
                    alert("稍後再試");
                }
                        })
                    })
                })
    </script>
}