<div class="is-light">
    <div class="ts-content is-tertiary is-vertically-padded is-rounded m-4">
        <div class="ts-container is-very-narrow has-vertically-spaced">
            <div class="ts-header is-big is-massive">商家資料</div>
            <div class="ts-text is-secondary">你能編輯或調整商家資訊，注意商家資訊會對外影響顧客觀感請小心</div>
        </div>
    </div>
    <div class="ts-app-navbar is-fluid ts-tab is-pilled">
        <a href="#" class="item is-active" data-tab="logs">
            <div class="ts-icon is-address-book-icon"></div>
            <div class="label">基本資料</div>
        </a>
        <a href="#" class="item" data-tab="info">
            <div class="ts-icon is-key-icon"></div>
            <div class="label">密碼修改</div>
        </a>
    </div>
    <div class="ts-segment" data-name="logs">
        <div class="bottom-data">
            <div class="orders">
                <!-- 放置內容 -->
                <form class="border border-3" id="informationform" enctype="multipart/form-data">
                    <div class="ts-container is-very-narrow has-vertically-padded-big">
                        <div class="ts-box bg-transparent m-2">
                            <div class="ts-image is-medium is-centered">
                                <img src="" id="img" />
                            </div>
                            <div class="ts-content">
                                <div class="ts-header is-heavy">店家封面</div>
                                <div class="ts-file">
                                    <input type="file" accept="image/*" id="storeImg" name="storeImg" />
                                </div>
                            </div>
                        </div>
                        <div class="ts-grid is-relaxed is-2-columns">
                            <div class="column">
                                <div class="ts-header is-heavy">店家名稱</div>
                                <div class="ts-input is-underlined has-top-spaced">
                                    <input type="text" value="" name="storeName" id="storeName" />
                                </div>
                                <span class="ts-text is-negative" id="storeNameError"></span>
                            </div>
                            <div class="column">
                                <div class="ts-header is-heavy">營業地址</div>
                                <div class="ts-input is-underlined has-top-spaced">
                                    <input type="text" value="" name="storeAdress" id="storeAdress" />
                                </div>
                                <span class="ts-text is-negative" id="storeAdressError"></span>
                            </div>
                        </div>
                        <div class="ts-grid is-relaxed is-2-columns">
                            <div class="column">
                                <div class="ts-header is-heavy">電子郵件</div>
                                <div class="ts-input is-underlined has-top-spaced">
                                    <input type="email" value="" name="storeEmail" id="storeEmail" />
                                </div>
                                <span class="ts-text is-negative" id="storeEmailError"></span>
                            </div>
                            <div class="column">
                                <div class="ts-header is-heavy">電話</div>
                                <div class="ts-input is-underlined has-top-spaced">
                                    <input type="text" value="" name="storePhone" id="storePhone" />
                                </div>
                                <span class="ts-text is-negative" id="storePhoneError"></span>
                            </div>
                        </div>
                        <div class="ts-header is-heavy m-2">商家標籤</div>
                        <div class="ts-input is-underlined has-top-spaced">
                            <input type="text" id="taglist" name="taglist" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">最多選擇5種標籤</div>
                        <div class="ts-header is-heavy m-2">商家介紹文字</div>
                        <div class="ts-input is-resizable m-3">
                            <textarea placeholder="這裡寫入你商店介紹" name="storeinformation" id="storeinformation"></textarea>
                        </div>
                        <span class="ts-text is-negative" id="storeinformationError"></span>
                        <div class="ts-text is-description has-top-spaced-small">商店介紹最多100字</div>
                        <button class="ts-button is-fluid has-top-spaced-large" type="button" id="storeInforbtn">確認送出</button>
                        <div class="ts-box is-light m-3">
                            <div class="ts-content">
                                <p>
                                    按下「確認送出」表示您也接受「Rasengan+
                                    協議」、「個人隱私政策」、「使用者規範」。
                                </p>
                            </div>
                            <div class="symbol">
                                <span class="ts-icon is-circle-exclamation-icon"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ts-segment" data-name="info">
        <div class="bottom-data">
            <div class="orders">
                <form class="border border-3" id="password">
                    <div class="ts-container is-very-narrow has-vertically-padded-big">
                        <div class="ts-header is-heavy">密碼</div>
                        <div class="ts-input is-underlined has-top-spaced">
                            <input type="password" name="newPassword" />
                        </div>
                        <span class="ts-text is-negative" id="newPassword"></span>
                        <div class="ts-text is-description has-top-spaced-small">必須包含一個大寫英文，至少需要八個英文與數字</div>
                        <div class="ts-header is-heavy">再次輸入密碼</div>
                        <div class="ts-input is-underlined has-top-spaced">
                            <input type="password" name="newPassword_again" />
                        </div>
                        <span class="ts-text is-negative" id="newPassword_again"></span>
                        <button type="button" class="ts-button is-fluid has-top-spaced-large" id="passwordBtn">確認送出</button>
                        <div class="ts-box is-light m-3">
                            <div class="ts-content">
                                <p>
                                    按下「確認送出」表示您也接受「Rasengan+
                                    協議」、「個人隱私政策」、「使用者規範」。
                                </p>
                            </div>
                            <div class="symbol">
                                <span class="ts-icon is-circle-exclamation-icon"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">標籤列表</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <form class="m-3">
            <div class="btn-group-vertical btn-group-lg ts-wrap" role="group" aria-label="Basic checkbox toggle button group" id="taglist01">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">星期一</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck2">星期二</label>

                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck3">星期三</label>

                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck4">星期四</label>

                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck5">星期五</label>

                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck6">星期六</label>

                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck7">星期日</label>
            </div>
        </form>
        <div class="position-relative">
            <button class="ts-button is-end-icon is-secondary position-absolute top-0 start-0" id="listtagbtn">
                送出
                <span class="ts-icon is-check-icon"></span>
            </button>
            <button class="ts-button is-end-icon is-secondary is-negative position-absolute top-0 end-0" id="clearbtn">
                清除
                <span class="ts-icon is-trash-icon"></span>
            </button>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        let tagarry = [];
        //初始載入店家資料
        (() => {
            const id = @User?.FindFirst("teacherID")?.Value
                $.ajax({
                    url: `@Url.Content("~/tOrder_StoreAPI/store_Detail_Information")?id=${id}`,
                    success: (data) => {
                        $('#img').attr("src", data.餐廳照片);
                        $('#storeName').val(data.店家名稱);
                        $('#storeAdress').val(data.地址);
                        $('#storeEmail').val(data.電子信箱);
                        $('#storePhone').val(data.電話);
                        $('#storeinformation').text(data.餐廳介紹);
                        const tagconst = data.風味列表.map(a => `${a} `);
                        tagarry = tagconst;
                        if (tagconst != "") {
                            $('#taglist').val(tagconst + ',');
                        }
                        else {
                            $('#taglist').val(tagconst);
                        }
                    }
                });
            $.ajax({
                url: `@Url.Content("~/tOrder_StoreAPI/storeStyle")`,
                success: (data) => {
                    var datalist = data.map((a, index) => {
                        return (`
                                        <input type="checkbox" class="btn-check" id="btncheck_${index}" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="btncheck_${index}">${a}</label>`)
                    })
                    // console.log(datalist);
                    $('#taglist01').html(datalist);
                }
            })
        })();
        //開啟清單
        $('#taglist').click((e) => {
            e.preventDefault();
            $('.btn-check').prop('checked', false); // 先將所有按鈕設置為未選中狀態

            $.each(tagarry, (index, value) => {
                $('.btn-check').each(function () {
                    var buttonText = $(this).next('label').text().trim(); // 移除可能的空格和不可見字符
                    if (value.replace(",", "").trim() === buttonText) {
                        $(this).prop('checked', true); // 將符合條件的按鈕設置為選中狀態
                    }
                });
            });
            $('#offcanvasRight').offcanvas('show');
        });

        //存取修正店家資料
        $('#storeInforbtn').click(() => {
            Swal.fire({
                title: "確定送出店家資料修改嗎?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "送出",
                dismissButtonText: "取消",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    let formData = new FormData(informationform);
                    $.ajax({
                        url: `@Url.Content("~/tOrder_StoreAPI/store_deatail_form")`,
                        method: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: (datas) => {
                            if (!datas.isValid) {
                                $('#storeNameError').text(datas.errors.storeName);
                                $('#storePhoneError').text(datas.errors.storePhone);
                                $('#storeEmailError').text(datas.errors.storeEmail);
                                $('#storeAdressError').text(datas.errors.storeAdress);
                                $('#storeinformationError').text(datas.errors.storeinformation);
                            } else {
                                Swal.fire({
                                    icon: 'success',
                                    title: '店家資料修改',
                                    text: '資修改完成',
                                }).then(() => {
                                    location.reload();
                                })
                            }
                        }
                    })
                }
            });
        })
        //載入圖片預覽
        $('#storeImg').change((e) => {
            var file = event.target.files[0];
            var reader = new FileReader();
            reader.onload = function (event) {
                var data = this.result;
                $('#img').attr('src', data);
            };
            reader.readAsDataURL(file);
        })
        //右側口味標籤視窗選取
        $('#listtagbtn').click(() => {
            let arry = "";
            let count = 0;
            $('.btn-check').each(function () {
                if ($(this).prop('checked')) {
                    // 如果按鈕被選取，執行相應的操作
                    count++;
                    if (count < 6) {
                        var labelText = $(this).next('label').text(); // 獲取被選取按鈕的標籤文字
                        tagarry.push(labelText + ',');
                        arry += labelText + ","
                        $('#taglist').val(arry);
                        $('#offcanvasRight').offcanvas('hide');
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '標籤選取過多',
                            text: '注意最多只能選取五個標籤',
                        })
                    }
                }
            });
        })

        //清除清單選擇
        $('#clearbtn').click(() => {
            $('#taglist').val("");
            tagarry = [];
            $('.btn-check').each(function () {
                if ($(this).prop('checked')) {
                    $(this).prop('checked', false);
                }
            })
        })
        //送出修改密碼
        $('#passwordBtn').click(() => {
            let formData = $('#password').serialize()
            $.ajax({
                url: '@Url.Content("~/tOrder_StoreAPI/Contact")',
                method:'post',
                data: formData,
                success: (datas) => {
                    if (!datas.isValid) {
                        $('#newPassword').text(datas.errors.newPassword);
                        $('#newPassword_again').text(datas.errors.newPassword_again);
                    }
                    else {
                        alert("修改完成，請重新登入");
                        Promise.resolve().then(() => {
                            window.location.href = '@Url.Action("logout", "Login")';
                        });
                    }
                }
            })
        })
    </script>
}