@model Class_system_Backstage_pj.Models.T課程班級科目

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <style>
        #localVideo {
            width: 100%;
            height: auto;
            max-width: 900px;
            max-height: 520px;
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
            background-color: white;
            border-radius: 30px;
            display: none;
            margin: auto;
        }

        #waitingGif {
            width: 100%;
            height: auto;
            max-width: 900px;
            max-height: 530px;
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
            background-color: white;
            border-radius: 30px;
            display: block;
            margin: auto;
        }

        #content {
            padding: 5px;
            width: 100%;         
            overflow: hidden;
        }

        #toolToolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 30%;
            padding: 5px;
            border-radius: 10px;
            margin: auto;
            background-color: rgba(211, 211, 211, 0.5);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .toolButton {
            width: 40px;
            height: 40px;
            border: none;
            margin-right: 1px;
            background-color: transparent;
            padding: 2px;
            cursor: pointer;
            position: relative;
            justify-content: center;
            align-items: center;
            color: white;
        }

            .toolButton i {
                font-size: 35px;
                color: gray;
                display: flex;
                justify-content: center;
                align-items: center;
            }

    </style>
}

@{
    ViewData["Title"] = "螢幕分享";

}

<div id="content" class="">
    <h3 class="text-center text-black-50 ">
        <span class="mr-5">@ViewData["Title"]</span>       
    </h3>
    <div class="header">
      
        <!-- 主頁上方操作流程序能引入操作流程返回，記得有新增頁面時要記得編輯，有class="active的是現在位置-->
        <div class="left">           
            <ul class="breadcrumb text-center">
                <li>
                    <a asp-area="" asp-controller="SystemBackground" asp-action="Index"> 首頁 </a>
                </li>
                /
                <li><a href="#" class="active">@ViewData["Title"]</a></li>
            </ul>
        </div>
        <!-- 主頁上方操作流程序結束-->
    </div>

    <div class="fs-5 text-center text-black-50 mb-2">
        <span style="color:;font-weight:bold;">授課班級:@Model.班級.班級名稱</span>
        <span style="color:;font-weight:bold;">授課科目:@Model.科目.科目名稱</span>
    </div>

    <div id="toolToolbar">
        <input type="hidden" id="modeToggle" value="draw">

        <button class="toolButton" onclick="reloadPage()">
            <i id="startButton" class="bi bi-arrow-clockwise"></i>
        </button>

        <button class="toolButton" onclick="toggleRecording()">
            <i id="recordIcon" class="bi bi-record-circle"></i>
        </button>

        <button class="toolButton" onclick="togglemute()">
            <i id="soundIcon" class="bi bi-mic-fill"></i>
        </button>
    </div>

    <img id="waitingGif" src="https://cdn.dribbble.com/users/1322388/screenshots/14960903/media/5d43a634d420225eb2e37de4f8671383.jpg?resize=1200x900&vertical=center">
    <video id="localVideo" autoplay></video>

</div>
<div style="height:30px">
      
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.10/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js"></script>
    <script>
        
        var classCourseId = '@ViewBag.classCourseId';
    </script>
    <script src="~/js/course_management/Live.js"></script>
}