@{
    ViewData["Title"] = "學員專區";
    int userId = ViewBag.userId;
}
@* @User.Identity?.Name 這能抓到使用者的名稱 *@
@* @User?.FindFirst("FullName")?.Value 也能抓到使用者的名稱*@
@* @User?.FindFirst("StudentId")?.Value 這能抓到使用者的PK *@

@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            學員專區是專為學員提供的服務平台。在這裡，您可以：讓您可以一站式完成所有學務相關事宜。
                        </p>
                        <p>學員專區是您學習生活的最佳伴侶。</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}
<!-- ========================================================
       Blog Details Section
========================================================= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <!-- 左方側邊欄：佔據寬度 4/12 -->
            <!-- 左方側邊欄：標籤分類 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- 搜尋框 -->
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="" class="mt-3">
                            <input type="text" id="inputKeyword">
                            <button type="submit" id="btnsreach"><i class="bi bi-search" autocomplete="off"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->
                    <!-- 文字列表 -->
                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title m-1">學員服務</h3>
                        <div class="list-group">
                            <a asp-area="" asp-controller="Student" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">個人資料 </a>
                            <a asp-area="class_discuss" asp-controller="discussforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center active">學習討論區</a>
                            <a asp-area="course_management" asp-controller="courseforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的課程</a>
                            <a asp-area="video_management" asp-controller="videoforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">影片教材</a>
                            <a asp-area="ordering_system" asp-controller="orderforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">餐點訂單管理</a>
                            <a asp-area="job_vacancy" asp-controller="jobforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的履歷</a>
                            <a asp-area="quiz" asp-controller="Go" asp-action="Record" class="list-group-item list-group-item-action m-2 border border-3 text-center">測驗紀錄</a>
                            <a asp-area="" asp-controller="Login" asp-action="logout" class="list-group-item list-group-item-action m-2 border border-3 text-center text-danger">登出</a>
                        </div>
                    </div><!-- End sidebar categories-->
                </div><!-- End Blog Sidebar -->
            </div>
            <!-- 主要區域：佔據寬度 8/12 -->
            <div class="col-lg-8">
                <!-- 內容 -->
                <article class="blog-details">
                    <h2 class="title">學習討論區</h2>
                    <br />
                    <div class="row gy-4 posts-list" id="article">
                    </div>
                    <div class="blog-pagination">
                        <ul class="justify-content-center" id="pages">
                            <li><a href="#">1</a></li>
                        </ul>
                    </div>
                </article><!-- End blog post -->
                
            </div>
        </div>
    </div>
</section><!-- End Blog Details Section -->
@section Scripts{
    <script>
        const pages = document.getElementById('pages');
        const inputKeyword = document.getElementById('inputKeyword');
        const searchButton = document.querySelector('#btnsreach');
        const searchData = {
            "userId": @userId,
            "typeId": 0,
            "keyword": "",
            "page": 1,
            "pageSize": 5
        };

        const loadArtCard = async () => {
            const request = await fetch('@Url.Content("~/WebApi/UserArtCard")', {
                "method": "Post",
                "body": JSON.stringify(searchData),
                "headers": { "Content-Type": "application/json" }
            });

            const data = await request.json();
            console.log(data);
            const artlist = data.result.map(a => {
                const { 文章id, 看板id, 看板, 分類, 標題, 內容, 日期 } = a;
                return (`
                            <div class="col-xl-12 col-md-6">
                                        <article>
                                            <h2 class="title">
                                     <a href="/class_discuss/discuss/ArticleDetails?subid=${看板id}&artid=${文章id}">
                                             ${truncateString(標題, 40)}</a>
                                            </h2>
                                            <p class="post-category">${truncateString(內容, 200)}</p>

                                            <div class="d-flex align-items-center">
                                  <img src="/images/t論壇/看板封面/${encodeURIComponent(看板)}.png" alt="" class="img-fluid post-author-img flex-shrink-0">
                                                <div class="post-meta">
                                                    <p class="post-author-list">${看板} / ${分類}</p>
                                                    <p class="post-date">
                                                        <time datetime="2022-01-01">"修改日期：${日期}"</time>
                                                    </p>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                        `)
            })
            article.innerHTML = artlist.join("");

            let liPaging = "";
            for (let i = 1; i <= data.totalPages; i++) {
                if (i == 1) {
                    liPaging += ` <li onclick="pagingHandler(${i})"><a href="#">${i}</a></li>`
                } else { liPaging += ` <li onclick="pagingHandler(${i})"><a href="#">${i}</a></li>` }
            }
            pages.innerHTML = liPaging;
        };

        searchButton.addEventListener('click', function (event) {
            event.preventDefault(); // 取消按鈕的預設提交行為

            const keyword = inputKeyword.value.trim(); // 取得輸入的關鍵字並去除空白
            if (keyword !== '') {
                searchData.keyword = keyword; // 將關鍵字設置到 searchData 物件中
                loadArtCard();
            } else if (keyword === '' || keyword === null) {
                searchData.keyword = "";
                loadArtCard();
            }
        });
        inputKeyword.addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault(); // 取消按下 Enter 鍵的預設提交行為

                const keyword = inputKeyword.value.trim(); // 取得輸入的關鍵字並去除空白
                if (keyword !== '') {
                    searchData.keyword = keyword; // 將關鍵字設置到 searchData 物件中
                    loadArtCard(); // 調用 loadSpots 函數
                }
            }
        });

        function truncateString(str, maxLength) {
            let length = 0;
            let truncated = '';
            for (let char of str) {
                // 如果是中文字符，長度加2；否則加1
                length += char.charCodeAt(0) > 255 ? 2 : 1;
                if (length > maxLength) {
                    break;
                }
                truncated += char;
            }
            if (length > maxLength) {
                truncated += '...';
            }
            return truncated;
        }

        const pagingHandler = page => {
            searchData.page = page;
            loadArtCard();
        }

        const typeHandler = typeId => {
            searchData.typeId = typeId;
            loadArtCard();
        }

        $(document).ready(function () {
            $('#pages').on('click', 'li', function () {
                $('#pages li').removeClass('active');
                $(this).addClass('active');
            });
        });
        loadArtCard();
    </script>
}
