@{
    ViewData["Title"] = "工作媒合管理";
}
@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    @* <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> *@
    @* <link href="~/css/datatablesinline.css" rel="stylesheet" /> *@
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <style>
        .imthead {
            background-color: #C4E1E1;
            font-weight: 700;
        }

    </style>
}
<div class="header">
    <!-- 主頁上方操作流程序能引入操作流程返回，記得有新增頁面時要記得編輯，有class="active的是現在位置-->
    <div class="left">
        <h1> @ViewData["Title"]</h1>
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index"> 首頁 </a>
            </li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- 主頁上方操作流程序結束-->
</div>

<!-- Insights -->
<ul class="insights">
    <li>
        <i class='bx bx-file'></i>
        <a asp-area="job_vacancy" asp-controller="Resume" asp-action="Index">
            <span class="info">
                <h3>
                    履歷管理
                </h3>
                <p id="resumeCount"></p>
            </span>
        </a>
    </li>
    <li>
        <i class='bx bxs-lock'></i>
        <a asp-area="job_vacancy" asp-controller="jobHome" asp-action="Index">
            <span class="info">
                <h3>
                    公司帳戶管理
                </h3>
                <p style="font-style:italic">待解鎖</p>
            </span>
        </a>
    </li>
    <li>
        <i class='bx bxs-lock'></i>
        <a asp-area="job_vacancy" asp-controller="jobHome" asp-action="Index">
            <span class="info">
                <h3>
                    職缺管理
                </h3>
                <p style="font-style:italic">待解鎖</p>
            </span>
        </a>
    </li>
</ul>
<!-- End of Insights -->

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Content("/job_vacancy/API/ResumeSum")',
                type: 'GET',
                success: function (data) {
                    $('#resumeCount').text('目前履歷總數：' + data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
}