@model Class_system_Backstage_pj.Areas.course_management.ViewModel.T課程班級.classCreateViewModel

@{
    ViewData["Title"] = "新增班級";
}
@section Styles
{
    <link href="~/css/course_management/StyleDataTable.css" rel="stylesheet" />

   
}
<div class="main_contentDataTableDiv ">
<div class="header">
    <!-- 主頁上方操作流程序，記得有新增頁面時要記得編輯 -->
    <div class="left">
        <h1 class="text-center">@ViewData["Title"]</h1>

        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="SystemBackground" asp-action="Index">首頁</a></li>
            /
            <li><a asp-area="course_management" asp-controller="courseHome" asp-action="Index">排課系統管理</a></li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- 主頁上方操作流程序-->
</div>

    @if (ViewData["班級導師id"] == null || ViewBag.course==null){
        <div class="text-center">
            請先設置好老師資訊和科目資訊
        </div>
    }else{

        <div class="pb-4"  >
        <h3 id="title">step1:填寫班級基本資料</h3>

        @* 進度條展示 *@
        <div class="progress">
            <div id="progressBar" class="progress-bar" role="progressbar" style="width: 0%;height:1px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        @* 進度條展示結束 *@

        <form asp-area="course_management" asp-controller="T班級創建" asp-action="Create" method="post">

            @* 第一步: fill basic data  *@

            <div id="step1" class="card bg-light text-black-50 mb-3 w-100">

                @*  第一步的card title *@
                <div class="w-100 text-center card-header">
                    <h3 class="card-title fw-bolder">class info:</h3>
                </div>

                @*  第一步的card body *@

                <div class="card-body">

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="班級名稱" class="control-label fs-6 fw-bold"></label>
                            <input asp-for="班級名稱" data-id="班級名稱" class="form-control text-black-50" />
                            <span asp-validation-for="班級名稱" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="班級導師id" class="control-label fs-6 fw-bold">班級導師</label>
                            <select asp-for="班級導師id" data-id="班級導師id" class="form-control text-black-50" asp-items="ViewBag.班級導師id"></select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="入學日期" class="control-label fs-6 fw-bold"></label>
                            <input asp-for="入學日期" data-id="入學日期" class="form-control text-black-50" />
                            <span asp-validation-for="入學日期" class="text-danger "></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="結訓日期" class="control-label fs-6 fw-bold"></label>
                            <input asp-for="結訓日期" data-id="結訓日期" class="form-control text-black-50" />
                            <span asp-validation-for="結訓日期" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group visually-hidden">
                            <label asp-for="狀態" class="control-label"></label>
                            <input asp-for="狀態" class="form-control" value="1" />
                            <span asp-validation-for="狀態" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                @* 第一步的card body結束 *@

                <div class="w-100 text-end card-footer">
                    @*  demo按鈕 click綁定事件 填入所有欄位*@
                    <div class="btn  btn-info" id="demo" style="color:white"> demo </div>
                    @*  next按鈕 click綁定事件 檢查每個欄位*@
                    <div class="btn  btn-success" id="next">下一步 ⮕ </div>
                </div>


            </div>


            @* 第二步: 選擇班級科目 *@

            <div id="step2" class="card bg-light text-black-50 mb-3 w-100" style="display: none;">
                <!-- 內容 -->

                <div class="card">

                    @*  第二步的card title *@
                    <div class="w-100 text-center card-header">
                        <h3 class="card-title fw-bolder">add  subject:</h3>
                    </div>

                    @*  第二步的card body 分為兩欄 *@
                    <div class="mt-3 d-flex card-body justify-content-between">

                        @*左側欄，顯示目前選擇到的科目 *@
                        <div class="" style="width:35%">

                            <div class="card text-white bg-info mb-3 w-100">
                                <div class="text-center card-header">
                                    <h3 class="fs-5">目前班級科目:</h3>
                                </div>

                                <ul class="list-group mt-4 p-3" id="subjectTeacherList">
                                </ul>
                            </div>

                        </div>

                        <div style="width:60%">
                            <div class="card text-black-50 bg-light mb-3 w-100">

                                <div class="text-center card-header">

                                    <p class="fs-5 mb-2 fw-bolder">--班級科目選擇--</p>

                                    <hr />

                                    @* select選單[一開始就載入科目列表]  *@
                                    <select id="subjectSelect" class="form-control" asp-items="@ViewBag.course"></select>

                                    @* ajax動態產生該科目的授課老師列表  *@
                                    <table class="table mt-2">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>add</th>
                                            </tr>
                                        </thead>

                                        <tbody id="TeacherList"></tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>


                    @*  第二步的card body 結束*@


                </div>

                <div class="w-100 text-end card-footer">
                    <div class="btn  btn-success" id="submit">create</div>
                </div>
            </div>


        </form>



    </div>
       

    }
</div>
@section Scripts {
    <script src="~/js/course_management/CreateClass.js"></script>
}