@model Class_system_Backstage_pj.Areas.course_management.ViewModel.T課程班級科目評分.RateFormViewModel
@section Styles{
        <style>
        .text-left{
            text-align: left !important;
        }
        </style>
}

<div class="p-2">
    <h4 class="text-center">填寫回饋表單</h4>
    <hr />
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <input type="hidden" asp-for="評分主表id" />
            <input type="hidden" asp-for="班級科目id" />
            <input type="hidden" asp-for="學生id" class="form-control" />
            <input type="hidden" asp-for="狀態" class="form-control" value="2" readonly />     
        </div>

        <div style="text-align:left">
            <p >1-5評分</p>
            <!-- Loop through categories -->
            @foreach (var category in Model.T課程評分s.GroupBy(p => p.評分分類))
            {
                <p style="color: yellowgreen">@category.Key</p>
                <ul>
                    <!-- Loop through ratings in the current category -->
                    @foreach (var rating in category)
                    {
                        <li>
                            <p>@rating.評分題目</p>
                            <input type="number" class="form-control"  name="評分s[@rating.評分id]" min="1" max="5" />
                        </li>
                    }
                </ul>
            }
        </div>


        <div class="form-group" style="text-align:left">
            <label asp-for="改進意見" class="control-label"></label>
            <input asp-for="改進意見" class="form-control" />
            <span asp-validation-for="改進意見" class="text-danger"></span>
        </div>

        <div class="form-group text-end">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>




</div>











@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
