@model WorkExpViewModel
<style>
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" / >

    

</style>

<form asp-action="AddNewWorkExp" id="workExpForm">
    <!--模型驗證錯誤的摘要-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!--隱藏學員ID值-->
    <input type="hidden" asp-for="StudentID" />

    <div class="row dialog container-fluid">
        <div class="form-group flex-container">
            <label asp-for="CompanyName" class="control-label"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group flex-container">
            <label asp-for="JobTitle" class="control-label"></label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="form-group flex-container">
            <div class="row">
                <div class="col-md-6 form-group flex-container">
                    <label asp-for="Start" class="control-label"></label>
                    <select class="form-control form-control-scrollable" id="startYear">
                        @foreach (var year in Model.AvailableYears)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <select class="form-control" id="startMonth">
                        <option value="01">1月</option>
                        <option value="02">2月</option>
                        <option value="03">3月</option>
                        <option value="04">4月</option>
                        <option value="05">5月</option>
                        <option value="06">6月</option>
                        <option value="07">7月</option>
                        <option value="08">8月</option>
                        <option value="09">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                </div>
                <div class="col-md-6 form-group flex-container">
                    <label asp-for="End" class="control-label"></label>
                    <select class="form-control form-control-scrollable" id="endYear">
                        @foreach (var year in Model.AvailableYears)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <select class="form-control" id="endMonth">
                        <option value="01">1月</option>
                        <option value="02">2月</option>
                        <option value="03">3月</option>
                        <option value="04">4月</option>
                        <option value="05">5月</option>
                        <option value="06">6月</option>
                        <option value="07">7月</option>
                        <option value="08">8月</option>
                        <option value="09">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group flex-container col-6">
            <label asp-for="Salary" class="control-label"></label>
            <input asp-for="Salary" class="form-control"/>
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="control-label mb-3">工作內容</div>
            <textarea class="container-fluid word_count_workexp" asp-for="JobContent"></textarea>
            <div class="d-flex justify-content-end">
                <div>字數：<span id="wordcount_workexp">0</span> / <span style="color:#f85a40">500</span></div>
            </div>
            <span asp-validation-for="JobContent" class="text-danger"></span>
        </div>
        <div class="justify-content-end">
            <input type="submit" class="btn btn-normal" id="btnSummitAddWorkExp" value="新增工作經驗" />
            <button id="btnExpAddCancel" type="button" class="btn btn-cancel">取消</button>
            <button id="btnExpAddDemo" type="button" class="btn btn-preview">DEMO</button>
        </div>
    </div>
</form>
<script>

    $(document).ready(function () {

        //Demo用
        const btnDemo = document.getElementById('btnExpAddDemo');
        btnDemo.addEventListener('click', async (event) => {

            const demoData = {
                CompanyName: '新思科技有限公司',
                JobTitle: '行政助理',
                StartYear: '2022',
                StartMonth: '07',
                EndYear: '2023',
                EndMonth: '05',
                Salary: '28000',
                JobContent: `1. 負責行政支援工作，包括文件處理、電話接聽、郵件管理等。\n2. 協助安排會議和活動，並準備會議記錄和文件。\n3. 處理公司內部文書，包括報告、合約和文件的撰寫和整理。\n4. 負責辦公室設備的管理和維護，確保辦公室運作順暢。`
            };

            // 將預設資料填入表單欄位
            document.getElementById('CompanyName').value = demoData.CompanyName;
            document.getElementById('JobTitle').value = demoData.JobTitle;
            document.getElementById('startYear').value = demoData.StartYear;
            document.getElementById('startMonth').value = demoData.StartMonth;
            document.getElementById('endYear').value = demoData.EndYear;
            document.getElementById('endMonth').value = demoData.EndMonth;
            document.getElementById('Salary').value = demoData.Salary;
            document.getElementById('JobContent').value = demoData.JobContent;

            // 更新字數顯示
            const thisTextarea = document.querySelector('.word_count_workexp')
            const thisWordCount = document.getElementById('wordcount_workexp');
            thisWordCount.textContent = thisTextarea.value.length;
        });


        // $('#startYear, #startMonth, #endYear, #endMonth').change(function () {
        //     // 獲取起始年月和結束年月的值
        //     var startYear = parseInt($('#startYear').val());
        //     var startMonth = parseInt($('#startMonth').val());
        //     var endYear = parseInt($('#endYear').val());
        //     var endMonth = parseInt($('#endMonth').val());

        //     // 檢查起始年月是否大於結束年月
        //     if (startYear > endYear || (startYear === endYear && startMonth > endMonth)) {
        //         alert('起始日期不得晚於結束日期');
        //         // 將結束日期設置為起始日期
        //         $('#endYear').val(startYear);
        //         $('#endMonth').val(startMonth);
        //     }
        // });

        //取消新增工作經驗
        document.getElementById('btnExpAddCancel').addEventListener('click', async (event) => {

            $("#workExp_switch_form").empty(); //清空partialview的內容
            $('#expSelectArea').show();

            // 將焦點設置到標籤上
            document.getElementById('workExperienceLabel').focus();

            // 滾動視窗以使標籤可見
            document.getElementById('workExperienceLabel').scrollIntoView();
        });

        //提交新增工作經驗表單
        document.getElementById('btnSummitAddWorkExp').addEventListener('click', async (event) => {

            event.preventDefault(); // 防止表單默認提交行為

            const formData = new FormData(document.getElementById('workExpForm'));

            formData.set('StudentID', @User?.FindFirst("StudentId")?.Value);

            let startYearElement = document.getElementById("startYear");
            let selectedStartYear = startYearElement.options[startYearElement.selectedIndex].value;
            let startMonthElement = document.getElementById("startMonth");
            let selectedStartMonth = startMonthElement.options[startMonthElement.selectedIndex].value;
            const start = `${selectedStartYear}/${selectedStartMonth}`;

            let endYearElement = document.getElementById("endYear");
            let selectedEndYear = endYearElement.options[endYearElement.selectedIndex].value;
            let endMonthElement = document.getElementById("endMonth");
            let selectedEndMonth = endMonthElement.options[endMonthElement.selectedIndex].value;
            const end = `${selectedEndYear}/${selectedEndMonth}`;

            formData.set('Start', start);
            formData.set('End', end);

            for (const pair of formData.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }
            //return;

            const url = '/job_vacancy/jobforStudent/AddNewWorkExp';
            const response = await fetch(url, {
                body: formData,
                method: 'POST'
            });
            const data = await response.json();
            if (response.ok) {
                if (data.success) {
                    $("#workExp_switch_form").empty(); //清空partialview的內容
                    callWorkExp();  //重新載入工作經驗資料列表
                    //$('#expSelectArea').show();  //顯示選擇工作經驗區域

                    // 將焦點設置到標籤上
                    document.getElementById('workExperienceLabel').focus();

                    // 滾動視窗以使標籤可見
                    document.getElementById('workExperienceLabel').scrollIntoView();

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '新增失敗',
                        text: data.message,
                        customClass: {
                            confirmButton: 'btn btn-normal',
                        },
                        confirmButtonColor: '#008374',
                    });
                }
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '新增失敗',
                    text: data.message,
                    customClass: {
                        confirmButton: 'btn btn-normal',
                    },
                    confirmButtonColor: '#008374',
                });
            }

        });
    });


    
</script>