<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/login/style.css" rel="stylesheet" />
    @* <link href="~/login/style.min.css" rel="stylesheet" /> *@
    <title>會員登入</title>
    <script src="https://kit.fontawesome.com/8acd533af5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form asp-action="Privacy">
                <h1>創建帳號</h1>
                <div class="social-icon">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span>或使用您的信箱進行申請</span>
                <input type="text" placeholder="姓名">
                <input type="email" placeholder="信箱">
                <input type="password" placeholder="密碼">
                <button>申請</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form asp-action="Index">
                <h1>教師登入</h1>
                <div class="social-icon">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                </div>
                <span>或使用您的信箱進行登入</span>
                <input type="email" placeholder="信箱" name="Account" id="Account" >
                <input type="password" placeholder="密碼" name="Password" id="Password" >
                <a asp-action="resetPassword">忘記密碼?</a>
                <button type="submit">登入</button>
                <button type="button" id="demoBtn" onclick="demo()">Demo</button>
            </form>
            
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>歡迎回來</h1>
                    <p>真正的勝利，並不是戰勝強者。把自己重要的東西保護到最後一刻，才是勝利。</p>
                    <button class="hidden" id="login">登入</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>你好，朋友</h1>
                    <p>申請完整資訊後就能開始使用完整功能!!</p>
                    <button class="hidden" id="register">申請</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/login/index.js"></script>
    <script>
        @Html.Raw(TempData["key"]);
    </script>

    
    <script>
        const account = document.querySelector("#Account")
        const password = document.querySelector("#Password")
        const demo = ("click", ()=> {
            account.value = "272m5@gmail.com"
            password.value = "YBaOY+g4E90MzK1yXGYVFiTpoFad0qz3WVxZFDgJj2g="
        })

    </script>



</body>
</html>