
<h1>你忘記密碼了嗎</h1>

<h5>我來幫你完成驗證，重置密碼</h5>
<form id="loginForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">帳號</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Account">
        <div id="emailHelp" class="form-text">輸入你可悲的信箱，讓我幫你</div>
    </div>
    <button type="button" class="btn btn-primary" id="submitbtn">送出</button>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="forgetForm">
                <div class="mb-3">
                    <label for="inputpassword" class="form-label">新密碼</label>
                    <input type="password" class="form-control" id="inputpassword" aria-describedby="emailHelp" name="Password">
                </div>
                <button type="button" class="btn btn-primary" id="submitbtn02">修改</button>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        let pass = "";
        $('#submitbtn').click(() => {
            formData = $('#loginForm').serialize();
            $.ajax({
                url: '/Login/teacherForgretPassword', // 請更換為您的 API 端點
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response == "錯誤訊息") {
                        alert("白癡沒這個信箱耍我啊")
                    }
                    else {
                        pass = response;
                        $('#exampleModal').modal('show');
                    }
                }
            });
        })
        $('#submitbtn02').click(() => {
            formData = $('#forgetForm').serialize();
            $.ajax({
                url: "/Login/reseatTeacherPassword",
                type: "POST",
                data: formData,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + pass);
                },
                success: function (response) {
                    alert('都改好了你去試看看')
                    window.location.href = "/Home/Privacy";
                },
                error: function (xhr, status, error) {
                    alert("可能密碼有錯，再一次")
                }
            });
        })

    </script>
}