<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/login/style.css" rel="stylesheet" />
    @* <link href="~/login/style.min.css" rel="stylesheet" /> *@
    <title>會員登入</title>
    <script src="https://kit.fontawesome.com/8acd533af5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @model text_loginWithBackgrount.ViewModels.MemberViewModel
</head>
<body>
    <div class="container">
        <form asp-action="TeacherIndex">
            <h1>教師忘記密碼寄信</h1>
            </br>
            <input type="email" class="form-control" placeholder="信箱" name="Account" id="Account" style="width: 60%;">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">發送認證信</button>
                <button type="button" class="btn btn-secondary" id="demoBtn" onclick="demo()">Demo</button>
            </div>
        </form>
    </div>
    <script>
        @Html.Raw(TempData["teacherIndexMessage"]);
    </script>
    <script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    </script>
    <script>
                        const account = document.querySelector("#Account")
        const password = document.querySelector("#Password")
        const demo = ("click", () => {
            account.value = "272m5@gmail.com";
            password.value = "1234567@@"; //單@會有問題 實際上1234567@才是通用密碼
        })


        // $("#btn_login").click(function (e) {
        //     e.preventDefault();
        //     let formData = $('#StudentIndexform').serialize();
        //     $(".loading").addClass('d-block');

        //     $.ajax({
        //         url: '@Url.Content("~/Login/StudentIndex")',
        //         method: 'POST',
        //         data: formData,
        //         success: function () {
        //             $(".loading").removeClass('d-block');
        //             // 如果請求成功導致學生專用頁
        //             $(".error-message").removeClass('d-block');
        //             $(".sent-message").addClass('d-block');
        //             window.location.href = '@Url.Content("~/Template/Index")';
        //         },
        //         error: function (xhr, status, error) {
        //             $(".loading").removeClass('d-block');
        //             // 可以自行定義錯誤處理邏輯
        //             showError();
        //         }
        //     });
        // });


        $('#email').blur(function () {
            checkEmail();
        });
        function checkEmail() {
            var email = $('#email').val();
            var emailErrorMessage = $('#emailErrorMessage');

            if (email === "") {
                emailErrorMessage.text("請輸入有效的電子郵件地址");
                return;
            }

            $.ajax({
                url: '/Login/TeacherCheckEmailAvailability',
                type: 'POST',
                data: { email: email },
                success: function (response) {
                    if (response === true) {
                        emailErrorMessage.text('該信箱已經被使用');
                    } else {
                        emailErrorMessage.text('該信箱可使用');
                    }
                }
            });
        }


    </script>



</body>
</html>